<div class="edit-tab-content" id="templateMapping">
  <div class="editor-row" ">
    <div role=" table" class="GF_table-main" id="RulesTable">
      <div class="custom-scrollbar" style="position: relative; overflow: hidden; width: 100%; height: auto; min-height: 0px; max-height: 100%;box-sizing: inherit;">
        <div class="view" style="position: relative; overflow: scroll; margin-right: -8px; margin-bottom: -8px; max-height: calc(100% + 8px);">
            <!-- THEAD -->
            <div class="GF_table-thead GF_unselectable" style="display:inline-flex;" role="row" ng-mouseup="editor.rulesTable.onMouseUp($event)" ng-mousemove="editor.rulesTable.onMouseMove($event)" ng-mouseleave="editor.rulesTable.onMouseUp($event)">
              <!-- HEADERS -->
              <!-- EXPAND -->
              <div class="GF_table-columnheader" colspan="1" role="columnheader" style="user-select: auto; justify-content: flex-start;" ng-style="{'left' : editor.rulesTable.getLeft('expand'), 'width' : editor.rulesTable.getWidth('expand')}">
                <div ng-attr-title="{{editor.rulesTable.getDesc('expand')}}" class="GF_table-title" style="cursor: pointer;">
                  <div>{{editor.rulesTable.getLabel('expand')}}</div>
                </div>
                <div draggable="false" role="separator" class="GF_table-resizeHandle" style="float : right; cursor: ew-resize;"  ng-mousedown="editor.rulesTable.onMouseDown($event)">
                </div>
              </div>
              <!-- RULE NAME -->
              <div class="GF_table-columnheader" colspan="1" role="columnheader" style="display:flex;user-select: auto;justify-content: flex-start;flex-direction: row;overflow: hidden;" ng-style="{'left' : editor.rulesTable.getLeft('rule'), 'width' : editor.rulesTable.getWidth('rule')}">
                <div ng-attr-title="{{editor.rulesTable.getDesc('rule')}}" class="GF_table-title" style="cursor: pointer;">
                  <div>{{editor.rulesTable.getLabel('rule')}}</div>
                </div>
                <div draggable="false" role="separator" class="GF_table-resizeHandle" style="float : right; cursor: ew-resize;"  ng-mousedown="editor.rulesTable.onMouseDown($event)">
                </div>
              </div>
              <!-- LEVEL -->
              <div class="GF_table-columnheader" colspan="1" role="columnheader" style="display:inline-flex;user-select: auto; justify-content:flex-start" ng-style="{'left' : editor.rulesTable.getLeft('level'), 'width' : editor.rulesTable.getWidth('level')}">
                <div ng-attr-title="{{editor.rulesTable.getDesc('level')}}" class="GF_table-title" style="cursor: pointer;">
                  <div>{{editor.rulesTable.getLabel('level')}}</div>
                </div>
                <div draggable="false" role="separator" class="GF_table-resizeHandle" style="float : right; float:inline-end;cursor: ew-resize;"  ng-mousedown="editor.rulesTable.onMouseDown($event)">
                </div>
              </div>
              <!-- RAW VALUE -->
              <div class="GF_table-columnheader" colspan="1" role="columnheader" style="display:inline-flex;user-select: auto; justify-content: flex-start;" ng-style="{'left' : editor.rulesTable.getLeft('rval'), 'width' : editor.rulesTable.getWidth('rval')}">
                <div ng-attr-title="{{editor.rulesTable.getDesc('rval')}}" class="GF_table-title" style="cursor: pointer;">
                  <div>{{editor.rulesTable.getLabel('rval')}}</div>
                </div>
                <div draggable="false" role="separator" class="GF_table-resizeHandle" style="float : right;cursor: ew-resize;"  ng-mousedown="editor.rulesTable.onMouseDown($event)">
                </div>
              </div>
              <!-- FORMATED VALUE -->
              <div class="GF_table-columnheader" colspan="1" role="columnheader" style="display:inline-flex;user-select: auto; justify-content: flex-start;" ng-style="{'left' : editor.rulesTable.getLeft('fval'), 'width' : editor.rulesTable.getWidth('fval')}">
                <div ng-attr-title="{{editor.rulesTable.getDesc('fval')}}" class="GF_table-title" style="cursor: pointer;">
                  <div>{{editor.rulesTable.getLabel('fval')}}</div>
                </div>
                <div draggable="false" role="separator" class="GF_table-resizeHandle" style="float : right;cursor: ew-resize;"  ng-mousedown="editor.rulesTable.onMouseDown($event)">
                </div>
              </div>
              <!-- COLOR LEVEL -->
              <div class="GF_table-columnheader" colspan="1" role="columnheader" style="display:inline-flex;user-select: auto; justify-content: flex-start;" ng-style="{'left' : editor.rulesTable.getLeft('color'), 'width' : editor.rulesTable.getWidth('color')}">
                <div ng-attr-title="{{editor.rulesTable.getDesc('color')}}" class="GF_table-title" style="cursor: pointer;">
                  <div>{{editor.rulesTable.getLabel('color')}}</div>
                </div>
                <div draggable="false" role="separator" class="GF_table-resizeHandle" style="float:right;cursor: ew-resize;"  ng-mousedown="editor.rulesTable.onMouseDown($event)">
                </div>
              </div>
              <!-- ACTIONS -->
              <div class="GF_table-columnheader" colspan="1" role="columnheader" style="display:inline-flex;user-select: auto; justify-content: flex-start;" ng-style="{'left' : editor.rulesTable.getLeft('actions'), 'width' : editor.rulesTable.getWidth('actions')}">
                <div ng-attr-title="{{editor.rulesTable.getDesc('actions')}}" class="GF_table-title" style="cursor: pointer;">
                  <div>{{editor.rulesTable.getLabel('actions')}}</div>
                </div>
                <div draggable="false" role="separator" class="GF_table-resizeHandle" style="float:right;cursor: ew-resize;"  ng-mousedown="editor.rulesTable.onMouseDown($event)">
                </div>
              </div>
            </div>
            <!-- TBODY -->
            <div class="GF_table-body">
              <div role="row" class="GF_table-rows" ng-repeat="rule in editor.rulesHandler.getRules()" ng-mouseleave="editor.unselectCell(state)" ng-mouseover="editor.selectCell(state)" style="display:flex;-webkit-box-flex:1;flex-grow:1;flex-direction: column;width: 100%;overflow: hidden;">
                <!-- CELLS -->
                <div class="GF_table-row_line" style="height: 35px; display:inline-flex; flex-wrap: nowrap;overflow: hidden auto;width: 100%;">
                  <!-- EXPAND -->
                  <div role="cell" class="GF_table-cells" id="expand" style="user-select: auto; justify-content: flex-start;" ng-style="{'left' : editor.rulesTable.getLeft('expand'),'width' : editor.rulesTable.getWidth('expand')}">
                    <div class="GF_table-content">
                      <span class="rule-extend" ng-click="rule.data.reduce=!rule.data.reduce">
                        <i class="fa fa-chevron-right" ng-class="{'fa-chevron-right': rule.data.reduce, 'fa-chevron-down': rule.data.reduce === false}"> </i>
                      </span>
                    </div>
                  </div>
                  <!-- RULE NAME -->
                  <div role="cell" class="GF_table-cells" id="rule" style="user-select: auto; justify-content: flex-start;" ng-style="{'left' : editor.rulesTable.getLeft('rule'),'width' : editor.rulesTable.getWidth('rule')}">
                    <div class="GF_table-content">
                      {{rule.data.alias}}
                    </div>
                  </div>
                  <!-- LEVEL -->
                  <div role="cell" class="GF_table-cells" id="level" style="user-select: auto; justify-content: flex-start;" ng-style="{'left' : editor.rulesTable.getLeft('level'),'width' : editor.rulesTable.getWidth('level')}">
                    <div class="GF_table-content">
                      {{rule.highestLevel}}
                    </div>
                  </div>
                  <!-- HIGTEST RAW VALUE -->
                  <div role="cell" class="GF_table-cells" id="rval" style="user-select: auto; justify-content: flex-start;" ng-style="{'left' : editor.rulesTable.getLeft('rval'),'width' : editor.rulesTable.getWidth('rval')}">
                    <div class="GF_table-content">
                      {{rule.highestValue}}
                    </div>
                  </div>
                  <!-- HIGTEST FORMATED VALUE -->
                  <div role="cell" class="GF_table-cells" id="fval" style="user-select: auto; justify-content: flex-start;" ng-style="{'left' : editor.rulesTable.getLeft('fval'),'width' : editor.rulesTable.getWidth('fval')}">
                    <div class="GF_table-content">
                      {{rule.highestFormattedValue}}
                    </div>
                  </div>
                  <!-- COLOR -->
                  <div role="cell" class="GF_table-cells" id="fval" style="user-select: auto; justify-content: flex-start;" ng-style="{'left' : editor.rulesTable.getLeft('color'),'width' : editor.rulesTable.getWidth('color')}">
                    <div class="GF_table-content">
                      COLOR
                    </div>
                  </div>
                  <!-- ACTIONS -->
                  <div role="cell" class="GF_table-cells" id="actions" style="user-select: auto; justify-content: flex-start;" ng-style="{'left' : editor.rulesTable.getLeft('actions'),'width' : editor.rulesTable.getWidth('actions')}">
                    <div class="GF_table-content">
                      Actions
                    </div>
                  </div>
                </div>
                <div ng-hide="rule.data.reduce==true" class="GF_table-row_body" style="width: 100%; padding : 10px;">
                  <!-- OPTIONS -->
                  <div class="section gf-form-group">
                    <h5 class="section-heading">
                      Options
                      <info-popover mode="right-normal"><span
                          ng-bind-html="$GF.popover('Options for mapping objects and metrics', 'MAPPING','fc_archi_example')"></span>
                      </info-popover>
                    </h5>
                    <div class="gf-form">
                      <label class="gf-form-label width-10">Rule name
                        <info-popover mode="right-normal"><span
                            ng-bind-html="$GF.popover('Name of the rule, for information', 'MAPPING#Rule name')"></span>
                        </info-popover>
                      </label>
                      <input type="text" class="gf-form-input width-12" ng-model="rule.data.alias" id="{{ rule.getId() }}"
                        placeholder="Name of this rule" />
                    </div>
                    <!-- Data type -->
                    <div class="gf-form" ng-if="editor.isMultipleType()">
                      <label class="gf-form-label width-10">Metrics Type
                        <info-popover mode="right-normal"><span
                            ng-bind-html="$GF.popover('Only one type of queries by rule Series or table', 'MAPPING#Aggregation')"></span>
                        </info-popover>
                      </label>
                      <div class="gf-form-select-wrapper width-12">
                        <select class="gf-form-input" ng-model="rule.data.metricType"
                          ng-options="c.value as c.text for c in editor.metricType" ng-blur="editor.onRulesChange()"></select>
                      </div>
                    </div>
                    <!-- Metric Name -->
                    <div class="gf-form">
                      <label class="gf-form-label width-10">Apply to metrics
                        <info-popover mode="right-normal"><span
                            ng-bind-html="$GF.popover('Select alias or name of metric', 'MAPPING#Apply to metrics named','mp_metrics_name')"></span>
                        </info-popover>
                      </label>
                      <input type="text" placeholder="Name or regex of metric" class="gf-form-input width-12"
                        ng-model="rule.data.pattern" bs-tooltip="'Specify regex using /my.*regex/ syntax'"
                        bs-typeahead="editor.getMetricNames" ng-blur="editor.onRulesChange()" ng-model-onblur data-min-length="0"
                        data-items="100" data-placement="right" ng-if="rule.data.metricType === 'serie'" />
                      <div class="gf-form-select-wrapper width-12" ng-if="rule.data.metricType === 'table'">
                        <select class="gf-form-input" ng-model="rule.data.refId" ng-options="o for o in editor.getTablesName()"
                          ng-blur="editor.onRulesChange()">
                          <option style="display:none" value="">select a table</option>
                        </select>
                      </div>
                    </div>
                    <!-- Columns -->
                    <div class="gf-form" ng-if="rule.data.metricType === 'table'">
                      <label class="gf-form-label width-10">Apply to column
                        <info-popover mode="right-normal"><span
                            ng-bind-html="$GF.popover('Column name of the table', 'MAPPING#Aggregation')"></span>
                        </info-popover>
                      </label>
                      <div class="gf-form-select-wrapper width-12">
                        <select class="gf-form-input" ng-model="rule.data.column"
                          ng-options="o for o in editor.getColumnsForTable(rule.data.refId)" ng-blur="editor.onRulesChange()">
                          <option style="display:none" value="">select a column</option>
                        </select>
                      </div>
                    </div>
                    <!-- Aggregation -->
                    <div class="gf-form">
                      <label class="gf-form-label width-10">Aggregation
                        <info-popover mode="right-normal"><span
                            ng-bind-html="$GF.popover('Select an aggregation for all values of metric', 'MAPPING#Aggregation')"></span>
                        </info-popover>
                      </label>
                      <div class="gf-form-select-wrapper width-12">
                        <select class="gf-form-input" ng-model="rule.data.aggregation"
                          ng-options="c.value as c.text for c in editor.aggregationTypes"
                          ng-blur="editor.onRulesChange()"></select>
                      </div>
                    </div>
                  </div>
          
                  <!-- TYPE -->
                  <div class="section gf-form-group">
                    <h5 class="section-heading">
                      Type
                      <info-popover mode="right-normal">
                        <span
                          ng-bind-html="$GF.popover('Specify unit (Number, String or date) and type for displayed values by Text Mappings.', 'MAPPING#Type')">
                        </span>
                      </info-popover>
                    </h5>
                    <div class="gf-form">
                      <label class="gf-form-label width-10">Type
                        <info-popover mode="right-normal"><span
                            ng-bind-html="$GF.popover('Select type and unit of metric to display it for the good format.', 'MAPPING#Type')"></span>
                        </info-popover>
                      </label>
                      <div class="gf-form-select-wrapper width-16">
                        <select class="gf-form-input" ng-model="rule.data.type"
                          ng-options="c.value as c.text for c in editor.metricTypes" ng-change="editor.onRulesChange()"></select>
                      </div>
                    </div>
                    <div class="gf-form" ng-if="rule.data.type === 'date'">
                      <label class="gf-form-label width-10">Date Format
                        <info-popover mode="right-normal"><span
                            ng-bind-html="$GF.popover('Select format of the date to display it in text with text mapping.', 'MAPPING#Type')"></span>
                        </info-popover>
                      </label>
                      <gf-form-dropdown model="rule.data.dateFormat" css-class="gf-form-input width-16" lookup-text="true"
                        get-options="editor.dateFormats" on-change="editor.onRulesChange()" allow-custom="true">
                      </gf-form-dropdown>
                    </div>
          
                    <div ng-if="rule.data.type === 'string'">
                      <gf-form-switch class="gf-form" label-class="width-14" ng-if="rule.data.type === 'string'"
                        label="Sanitize HTML" checked="rule.data.sanitize" on-change="editor.onRulesChange()"></gf-form-switch>
                    </div>
                    <div ng-if="rule.data.type === 'string'">
                      <gf-form-switch class="gf-form" label-class="width-14" ng-if="rule.data.type === 'string'"
                        label="Preserve Formatting" checked="rule.data.preserveFormat" on-change="editor.onRulesChange()">
                      </gf-form-switch>
                    </div>
          
                    <div ng-if="rule.data.type === 'number'">
                      <div class="gf-form">
                        <label class="gf-form-label width-10">Unit
                          <info-popover mode="right-normal"><span
                              ng-bind-html="$GF.popover('Select unit of aggregated value.', 'MAPPING#Type')"></span>
                          </info-popover>
                        </label>
                        <div class="gf-form-dropdown-typeahead width-16" ng-model="rule.data.unit"
                          dropdown-typeahead2="editor.unitFormats"
                          dropdown-typeahead-on-select="editor.setUnitFormat(rule, $subItem)"></div>
                      </div>
                      <div class="gf-form">
                        <label class="gf-form-label width-10">Decimals
                          <info-popover mode="right-normal"><span
                              ng-bind-html="$GF.popover('Select number of decimals', 'MAPPING#Type')"></span>
                          </info-popover>
                        </label>
                        <input type="number" class="gf-form-input width-4" data-placement="right" ng-model="rule.data.decimals"
                          ng-blur="editor.onRulesChange()" />
                      </div>
                    </div>
                  </div>
          
                  <!-- Thresholds -->
                  <ng-include src="$GF.plugin.getPartialPath() + 'mapping/thresholds/index.html'"> </ng-include>
          
                  <!-- TOOLTIP -->
                  <ng-include src="$GF.plugin.getPartialPath() + 'mapping/tooltip/index.html'"> </ng-include>
          
                  <!-- GRAPH TOOLTIP -->
                  <ng-include src="$GF.plugin.getPartialPath() + 'mapping/graph/index.html'"> </ng-include>
          
                  <!-- MAPPINGS -->
                  <div class="editor-row">
                    <!-- SHAPE MAPPING -->
                    <ng-include src="$GF.plugin.getPartialPath() + 'mapping/shape/index.html'"> </ng-include>
          
                    <!-- TEXT MAPPING -->
                    <ng-include src="$GF.plugin.getPartialPath() + 'mapping/text/index.html'"> </ng-include>
          
                    <!-- LINK MAPPING -->
                    <ng-include src="$GF.plugin.getPartialPath() + 'mapping/link/index.html'"> </ng-include>
          
                    <!-- LINK MAPPING -->
                    <ng-include src="$GF.plugin.getPartialPath() + 'mapping/event/index.html'"> </ng-include>
          
                    <!-- VALUE MAPPING & RANGE MAPPING -->
                    <ng-include src="$GF.plugin.getPartialPath() + 'mapping/valuemap/index.html'"> </ng-include>
                  </div>
          
                  <div class="clearfix"></div>
          
                  <!-- BUTTONS RULES -->
                  <div class="gf-form-inline">
                    <div class="gf-form" style="margin-right: 5px;">
                      <button class="btn btn-danger btn-small" ng-click="editor.removeRule(rule, true)"><i
                          class="fa fa-trash"></i> Remove Rule</button>
                    </div>
                    <div class="gf-form">
                      <button class="btn btn-secondary btn-small" ng-click="editor.cloneRule(rule)"><i class="fa fa-copy"></i>
                        Copy Rule</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>