<div role=" table" class="gf-table-main" id="ShapesTable" style="overflow: visible;">
    <div class="gf-custom-scrollbar"
        style="position: relative; overflow: visible; width: 100%; height: auto; min-height: 0px; max-height: 100%;box-sizing: inherit;">
        <div class="gf-view"
            style="position: relative; overflow: visible; margin-right: -8px; margin-bottom: -8px; max-height: calc(100% + 8px);">
            <!-- THEAD -->
            <div class="gf-table-thead gf-unselectable" role="row" ng-mouseup="editor.shapesTable.onMouseUp($event)"
                ng-mousemove="editor.shapesTable.onMouseMove($event)"
                ng-mouseleave="editor.shapesTable.onMouseUp($event)">
                <!-- HEADERS -->
                <!-- EXPAND -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.shapesTable.getWidth('expand')}">
                    <div ng-attr-title="{{editor.shapesTable.getDesc('expand')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.shapesTable.getLabel('expand')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.shapesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- WHAT -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.shapesTable.getWidth('what')}">
                    <div ng-attr-title="{{editor.shapesTable.getDesc('what')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.shapesTable.getLabel('what')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Enter shape Id or click on link button', 'SHAPES')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.shapesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- WHEN -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.shapesTable.getWidth('when')}">
                    <div ng-attr-title="{{editor.shapesTable.getDesc('when')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.shapesTable.getLabel('when')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span
                                ng-bind-html="$GF.popover('Select condition to apply color and tooltip on shape.', 'SHAPES')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize"
                        ng-mousedown="editor.shapesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- HOW -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.shapesTable.getWidth('how')}">
                    <div ng-attr-title="{{editor.shapesTable.getDesc('how')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.shapesTable.getLabel('how')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span
                                ng-bind-html="$GF.popover('Fill to color content, Stroke for outline or arrows, Text for text.', 'SHAPES', 'colormode_ani')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.shapesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- ACTION -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.shapesTable.getWidth('actions')}">
                    <div ng-attr-title="{{editor.shapesTable.getDesc('actions')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.shapesTable.getLabel('actions')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.shapesTable.onMouseDown($event)">
                    </div>
                </div>
            </div>
            <!-- TBODY -->
            <div class="gf-table-body">
                <div role="row" class="gf-table-rows" ng-repeat="shape in rule.getShapeMaps()">
                    <!-- CELLS -->
                    <div class="gf-table-row_line"
                        ng-mouseleave="editor.unselectCell(rule.data.shapeProp,shape.data.pattern)"
                        ng-mouseover="editor.selectCell(rule.data.shapeProp,shape.data.pattern)">
                        <!-- EXPAND -->
                        <div role="cell" class="gf-table-cells" id="expand" ng-click="shape.reduce=!shape.reduce"
                            ng-style="{'width' : editor.shapesTable.getWidth('expand')}">
                            <div class="gf-table-content gf-unselectable" style="text-align: center; cursor: pointer;">
                                <span>
                                    <i class="fa fa-chevron-right"
                                        bs-tooltip="shape.redude ? 'Expand/Detail' : 'Collapse/Reduce'"
                                        ng-class="{'fa-chevron-right': shape.reduce, 'fa-chevron-down': shape.reduce === false}">
                                    </i>
                                </span>
                            </div>
                        </div>
                        <!-- WHAT -->
                        <div role="cell" class="gf-table-cells" id="what" ng-mouseleave="shape.displayWhatEdit = false;"
                            ng-mouseover="shape.displayWhatEdit = true;"
                            ng-style="{'width' : editor.shapesTable.getWidth('what')}">
                            <div class="gf-table-content" ng-show="shape.whatEdit !== true"
                                ng-dblclick="shape.whatEdit = true;">
                                {{shape.data.pattern}}
                            </div>
                            <div ng-show="shape.displayWhatEdit === true && shape.whatEdit !== true"
                                ng-click="shape.whatEdit = true;$GF.setFocus(shape.getId() + '-what');"
                                title="Edit pattern"
                                class="gf-icon-action gf-icon-edit gf-icon-oncontent gf-icon-withcontent">
                            </div>
                            <div ng-show="shape.displayWhatEdit === true && shape.whatEdit !== true && !editor.flowchartHandler.isMapping(shape)"
                                ng-click="editor.flowchartHandler.setMap(shape,rule.data.shapeProp)"
                                class="gf-icon-action gf-icon-target gf-icon-withcontent"
                                title="Select a shape in diagram">
                            </div>
                            <input type="text" 
                                ng-show="shape.whatEdit === true"
                                class="gf-form-input" ng-model="shape.data.pattern"
                                style="margin-right: 2px;width : 100%" 
                                ng-attr-id="{{shape.getId() + '-what'}}"
                                ng-model-onblur ng-blur="editor.onRulesChange();shape.whatEdit = false;"
                                bs-typeahead="rule.data.shapeProp === 'id' ? editor.getCellNamesById : editor.getCellNamesByValue"
                                data-min-length="0" data-items="100" data-placement="right" />
                                <!-- ng-keyup="$event.keyCode === 13 ? editor.onRulesChange() : shape.whatEdit = true;$event.keyCode === 13 ?  shape.whatEdit = false : shape.whatEdit = true" -->
                                <!-- ng-model-onblur -->
                                <!-- placeholder="{{(rule.data.shapeProp === 'value' ? "Id" : "Label") + " or regex of shape"}}" -->
                                <!-- bs-tooltip="'Specify regex using /my.*regex/ syntax or complete id of shape (see inspect tab)'" -->
                                <!-- bs-typeahead="rule.data.shapeProp === 'id' ? editor.getCellNamesById : editor.getCellNamesByValue" -->
                                <!-- ng-keydown="$event.keyCode === 13 && shape.whatEdit = false" -->
                        </div>
                        <!-- WHEN -->
                        <div role="cell" class="gf-table-cells" id="when" ng-mouseleave="shape.displayWhenEdit = false;"
                            ng-mouseover="shape.displayWhenEdit = true;"
                            ng-style="{'width' : editor.shapesTable.getWidth('when')}">
                            <!-- {{shape.data.colorOn}} -->
                            <div class="gf-table-content" style="text-align: left;" ng-show="shape.whenEdit !== true">
                                {{$GF.GetT4V( editor.colorOn, shape.data.colorOn)}}
                            </div>
                            <div ng-show="shape.displayWhenEdit === true && shape.whenEdit !== true"
                                ng-click="shape.whenEdit = true;$GF.setFocus( shape.getId() + '-when' )"
                                class="gf-icon-action gf-icon-edit gf-icon-withcontent"
                                title="Edit condition">
                            </div>
                            <select class="gf-form-input" ng-model="shape.data.colorOn" style="width:100%;"
                                ng-attr-id="{{shape.getId() + '-when'}}"
                                ng-blur="editor.onRulesChange();shape.whenEdit = false;"
                                ng-show="shape.whenEdit === true" ng-options="c.value as c.text for c in editor.colorOn"
                                ng-change="editor.onRulesChange()">
                            </select>
                        </div>
                        <!-- HOW -->
                        <div role="cell" class="gf-table-cells" id="how" 
                            ng-mouseleave="shape.displayHowEdit = false;"
                            ng-mouseover="shape.displayHowEdit = true;"
                            ng-style="{'width' : editor.shapesTable.getWidth('how')}">
                            <!-- {{shape.data.style}} -->
                            <div class="gf-table-content" style="text-align: left;" ng-show="shape.howEdit !== true">
                                {{$GF.GetT4V(editor.style, shape.data.style)}}
                            </div>
                            <div ng-show="shape.displayHowEdit === true && shape.howEdit !== true"
                                ng-click="shape.howEdit = true;$GF.setFocus( shape.getId() + '-how' );"
                                class="gf-icon-action gf-icon-edit gf-icon-withcontent"
                                title="Edit method">
                            </div>
                            <select class="gf-form-input" ng-model="shape.data.style" style="width:100%;"
                                ng-attr-id="{{shape.getId() + '-how'}}"
                                ng-blur="editor.onRulesChange();shape.howEdit = false;"
                                ng-show="shape.howEdit === true" ng-options="c.value as c.text for c in editor.style"
                                ng-change="editor.onRulesChange()">
                            </select>
                            <!-- <div style="display:inline-block;">
                                <div class="gf-icon-fill gf-icon-action" * ng-click="selectStyle = true;"
                                    bs-tooltip="'Fill method'">
                                </div>
                                <div class="gf-icon-border gf-icon-action" ng-click="selectStyle = true;"
                                    bs-tooltip="'Border/stroke method'">
                                </div>
                                <div class="gf-icon-gradien gf-icon-action" ng-click="selectStyle = true;"
                                    bs-tooltip="'Border/stroke method'">
                                </div>
                            </div> -->
                        </div>
                        <!-- OPTIONS/ACTION -->
                        <div role="cell" class="gf-table-cells" id="options"
                            ng-style="{'width' : editor.shapesTable.getWidth('actions')}">
                            <div class="gf-table-content gf-unselectable"
                                style="text-align: left;justify-content: center;">
                                <div 
                                    ng-click="editor.removeShapeMap(rule,$index);editor.onRulesChange()"
                                    title="Delete this mapping object"
                                    class="gf-icon-action gf-icon-remove">
                                </div>
                                <div title="Duplicate this mapping"
                                    ng-click="shape.isHidden() ? shape.show(): shape.hide();editor.onRulesChange()"
                                    title="Enable/Disable this mapping"
                                    class="gf-icon-action"
                                    ng-class="{'gf-icon-show': !shape.isHidden(), 'gf-icon-hide': shape.isHidden()}">
                                </div>
                                <div 
                                    ng-click="editor.flowchartHandler.setMap(shape,rule.data.shapeProp)"
                                    title="Select a shape in diagram"
                                    class="gf-icon-action"
                                    ng-class="{'gf-icon-target': !editor.flowchartHandler.isMapping(shape), 'gf-icon-empty': editor.flowchartHandler.isMapping(shape)}">
                                </div>
                                <div 
                                    ng-click="rule.cloneShapeMap(shape);editor.onRulesChange();"
                                    title="Duplicate this mapping"
                                    class="gf-icon-action gf-icon-clone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gf-table-row_body" ng-show="shape.reduce==false">
                        <ng-include src="$GF.plugin.getPartialPath() + 'rules/shapes/shapeBody.html'"> </ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>