<div class="gf-form">
  <input
    type="text"
    name="valueDisplayRegex"
    ng-model="testData.id"
    style="text-align: right"
    placeholder="ID Field"
    class="gf-form-input max-width-15"
  />
  <input
    type="text"
    name="valueDisplayRegex"
    ng-model="testData.style"
    placeholder="Style"
    class="gf-form-input max-width-15"
  />
  <input
    type="text"
    name="valueDisplayRegex"
    ng-model="testData.value"
    placeholder="Value"
    class="gf-form-input max-width-15"
  />
  <button class="btn btn-secondary btn-small" ng-click="editor.execute()">
    <i class="fa fa-play"></i> Execute
  </button>
</div>
