<textarea>
    {{ rule.getEventMaps() | json }}
    {{editor.EventType}}
</textarea>
<div role=" table" class="gf-table-main" id="EventsTable" style="overflow: visible;">
    <div class="gf-custom-scrollbar"
        style="position: relative; overflow: visible; width: 100%; height: auto; min-height: 0px; max-height: 100%;box-sizing: inherit;">
        <div class="gf-view"
            style="position: relative; overflow: visible; margin-right: -8px; margin-bottom: -8px; max-height: calc(100% + 8px);">
            <!-- THEAD -->
            <div class="gf-table-thead gf-unselectable" role="row" 
                ng-mouseup="editor.eventsTable.onMouseUp($event)"
                ng-mousemove="editor.eventsTable.onMouseMove($event)"
                ng-mouseleave="editor.eventsTable.onMouseUp($event)">
                <!-- HEADERS -->
                <!-- EXPAND -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('expand')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('expand')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('expand')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- WHAT -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('what')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('what')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('what')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Enter shape Id or click on target button', 'LINKS')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- WHEN -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('when')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('when')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('when')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Select condition to apply event on object.', 'SHAPES')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- LEVEL -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('level')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('level')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('level')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Select condition to apply event on object.', 'SHAPES')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- THEN -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('then')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('then')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('then')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Select condition to apply event on object.', 'SHAPES')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- WITH -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('with')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('with')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('with')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Enter absolute or relative URL', 'MAPPING#Event')"> </span>
                        </info-popover></label>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- ACTION -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('actions')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('actions')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('actions')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
            </div>
            <!-- TBODY -->
            <div class="gf-table-body">
                <div role="row" class="gf-table-rows" ng-repeat="event in rule.getEventMaps()">
                    <!-- CELLS -->
                    <div class="gf-table-row_line"
                        ng-mouseleave="editor.unselectCell(rule.data.eventProp,event.data.pattern)"
                        ng-mouseover="editor.selectCell(rule.data.eventProp,event.data.pattern)">
                        <!-- EXPAND -->
                        <div role="cell" class="gf-table-cells" id="expand" ng-click="event.reduce=!event.reduce"
                            ng-style="{'width' : editor.eventsTable.getWidth('expand')}">
                            <div class="gf-table-content gf-unselectable" style="text-align: center; cursor: pointer;">
                                <span>
                                    <i class="fa fa-chevron-right" title="Expand/Collapse for detail"
                                        ng-class="{'fa-chevron-right': event.reduce, 'fa-chevron-down': event.reduce === false}">
                                    </i>
                                </span>
                            </div>
                        </div>
                        <!-- WHAT -->
                        <div role="cell" class="gf-table-cells"
                            ng-init="event.displayWhatEdit = false;event.whatEdit = false;" 
                            ng-mouseleave="event.displayWhatEdit = false;"
                            ng-mouseover="event.displayWhatEdit = true;"
                            ng-style="{'width' : editor.eventsTable.getWidth('what')}">
                            <div class="gf-table-content" ng-show="event.whatEdit !== true"
                                ng-attr-title="{{event.data.pattern}}"
                                ng-dblclick="event.whatEdit = true;">
                                {{event.data.pattern}}
                            </div>
                            <div ng-show="event.displayWhatEdit === true && event.whatEdit !== true"
                                ng-click="event.whatEdit = true;$GF.setFocus( event.getId() + '-what' )" title="Edit pattern"
                                class="gf-icon-action gf-icon-edit gf-icon-oncontent gf-icon-withcontent">
                            </div>
                            <div ng-show="event.displayWhatEdit === true && event.whatEdit !== true && !editor.flowchartHandler.isMapping(event)"
                                ng-click="editor.flowchartHandler.setMap(event,rule.data.eventProp)"
                                class="gf-icon-action gf-icon-target gf-icon-withcontent"
                                title="Select a text in diagram">
                            </div>
                            <input type="text" style="margin-right: 2px;width : 100%" 
                                ng-attr-id="{{event.getId() + '-what'}}"
                                ng-show="event.whatEdit === true"
                                class="gf-form-input" ng-model="event.data.pattern"
                                ng-change="editor.onRulesChange()"
                                ng-model-onblur ng-blur="editor.onRulesChange();event.whatEdit = false;"
                                bs-typeahead="rule.data.eventProp === 'id' ? editor.getCellNamesById : editor.getCellNamesByValue"
                                data-min-length="0" data-items="100" data-placement="right" />
                        </div>
                        <!-- WHEN -->
                        <div role="cell" class="gf-table-cells" ng-mouseleave="event.displayWhenEdit = false;"
                            ng-mouseover="event.displayWhenEdit = true;"
                            ng-style="{'width' : editor.eventsTable.getWidth('when')}">
                            <!-- {{event.data.comparator}} -->
                            <div class="gf-table-content" 
                                style="text-align: left;"
                                ng-attr-title="{{$GF.GetT4V( editor.comparator, event.data.comparator)}}"
                                ng-dblclick="event.whenEdit = true;$GF.setFocus( event.getId() + '-when' )" 
                                ng-show="event.whenEdit !== true">
                                {{$GF.GetT4V( editor.comparator, event.data.comparator)}}
                            </div>
                            <div ng-show="event.displayWhenEdit === true && event.whenEdit !== true"
                                ng-click="event.whenEdit = true;$GF.setFocus( event.getId() + '-when' )" class="gf-icon-action gf-icon-edit gf-icon-withcontent"
                                title="Edit condition">
                            </div>
                            <select class="gf-form-input" ng-model="event.data.EventOn" style="width:100%;"
                                ng-show="event.whenEdit === true"
                                ng-attr-id="{{event.getId() + '-when'}}"
                                ng-blur="editor.onRulesChange();event.whenEdit = false;"
                                ng-attr-title="{{$GF.GetT4V( editor.comparator, event.data.comparator)}}"
                                ng-options="c.value as c.text for c in editor.comparator"
                                ng-change="editor.onRulesChange()">
                            </select>
                        </div>
                        <!-- LEVEL -->
                        <div role="cell" class="gf-table-cells" ng-mouseleave="event.displayLevelEdit = false;"
                            ng-mouseover="event.displayLevelEdit = true;"
                            ng-style="{'width' : editor.eventsTable.getWidth('level')}">
                            <!-- {{event.data.EventOn}} -->
                            <div class="gf-table-content" 
                                style="text-align: center;justify-content: center;"
                                ng-attr-title="TODO : Add threshold definition"
                                ng-dblclick="event.levelEdit = true;$GF.setFocus( event.getId() + '-level' )" 
                                ng-show="event.levelEdit !== true">
                                {{event.data.eventOn}}
                            </div>
                            <div ng-show="event.displayLevelEdit === true && event.levelEdit !== true"
                                ng-click="event.levelEdit = true;$GF.setFocus( event.getId() + '-level' )" class="gf-icon-action gf-icon-edit gf-icon-withcontent"
                                title="Edit threshold level">
                            </div>
                            <!-- <select class="gf-form-input" ng-model="event.data.EventOn" style="width:100%;"
                                ng-show="event.levelEdit === true"
                                ng-attr-title="TODO : Add threshold definition"
                                ng-attr-id="{{event.getId() + '-level'}}"
                                ng-blur="editor.onRulesChange();event.levelEdit = false;"
                                ng-options="c.value as c.text for c in editor.eventOn"
                                ng-change="editor.onRulesChange()">
                            </select> -->
                            <select 
                                style="width:100%;"
                                convert-to-number 
                                class="gf-form-input" 
                                ng-blur="editor.onRulesChange();event.levelEdit = false;"
                                ng-model="event.data.eventOn"
                                ng-show="event.levelEdit === true"
                                ng-attr-id="{{event.getId() + '-level'}}"
                                ng-change="editor.onRulesChange()">
                                <option type="number" ng-repeat="color in rule.data.colors" ng-value="$index">{{$index}}</option>
                            </select>
                        </div>
                        <!-- THEN -->
                        <div role="cell" class="gf-table-cells"
                            ng-init="event.displayThenEdit = false;event.thenEdit = false;" 
                            ng-mouseleave="event.displayThenEdit = false;"
                            ng-mouseover="event.displayThenEdit = true;"
                            ng-style="{'width' : editor.eventsTable.getWidth('then')}">
                            <!-- {{event.data.EventType}} -->
                            <div class="gf-table-content" style="text-align: left;"
                                ng-dblclick="event.thenEdit = true;$GF.setFocus( event.getId() + '-then' )"
                                ng-show="event.thenEdit !== true">
                                {{event.data.style}}
                            </div>
                            <div ng-show="event.displayThenEdit === true && event.withEdit !== true"
                                ng-click="event.thenEdit = true;$GF.setFocus( event.getId() + '-then' )" class="gf-icon-action gf-icon-edit gf-icon-withcontent"
                                title="Select an action">
                            </div>
                            <select class="gf-form-input" 
                                ng-model="event.data.EventOn" style="width:100%;"
                                ng-show="event.thenEdit === true"
                                ng-attr-id="{{event.getId() + '-then'}}"
                                ng-blur="editor.onRulesChange();event.ThenEdit = false;"
                                ng-attr-title="{{$GF.GetT4V( editor.EventType, event.data.style)}}"
                                ng-options="c.value as c.text for c in editor.EventType"
                                ng-change="editor.onRulesChange()">
                            </select>
                        </div>
                        <!-- WITH -->
                        <div role="cell" class="gf-table-cells"
                            ng-init="event.displayWithEdit = false;event.withEdit = false;" 
                            ng-mouseleave="event.displayWithEdit = false;"
                            ng-mouseover="event.displayWithEdit = true;"
                            ng-style="{'width' : editor.eventsTable.getWidth('with')}">
                            <!-- {{event.data.value}} -->
                            <div class="gf-table-content" style="text-align: left;"
                                ng-dblclick="event.withEdit = true;$GF.setFocus( event.getId() + '-with' )"
                                ng-show="event.withEdit !== true">
                                {{event.data.value}}
                            </div>
                            <div ng-show="event.displayWithEdit === true && event.withEdit !== true"
                                ng-click="event.withEdit = true;$GF.setFocus( event.getId() + '-with' )" class="gf-icon-action gf-icon-edit gf-icon-withcontent"
                                title="Edit current value">
                            </div>
                            <!-- <input style="margin-right: 2px;width : 100%"
                                ng-attr-id="{{event.getId() + '-url'}}"
                                type="text" class="gf-form-input" 
                                ng-show="event.withEdit === true"
                                ng-change="editor.onRulesChange()"
                                ng-model="event.data.value" ng-blur="editor.onRulesChange();event.withEdit = false;"
                                placeholder="Text or pattern to replace by value" /> -->
                            <input type="text" style="margin-right: 2px;" 
                                ng-show="event.withEdit === true"
                                placeholder="{{event.getPlaceHolder()}}"
                                class="gf-form-input" 
                                ng-model="event.data.value" title="Specify value for this action"
                                bs-typeahead="editor.getEventValues" 
                                data-min-length="0" data-items="100"
                                ng-focus="editor.onEventValue(event)" 
                                ng-blur="editor.onRulesChange();event.withEdit = false" data-min-length="0"
                                data-items="100" ng-model-onblur data-placement="right" />
                        </div>
                        <!-- OPTIONS -->
                        <!-- <div role="cell" class="gf-table-cells"
                            ng-style="{'width' : editor.eventsTable.getWidth('options')}">
                            <div class="gf-table-content gf-unselectable"
                                style="text-align: center;justify-content: center;">
                                <div ng-click="event.data.eventParams = !event.data.eventParams;editor.onRulesChange()"
                                    title="Add/Remove the dashboad parameters with url" class="gf-icon-action"
                                    ng-class="{'gf-icon-address-on': event.data.eventParams, 'gf-icon-address-off': !event.data.eventParams}">
                                </div>
                            </div>
                        </div> -->
                        <!-- ACTION -->
                        <div role="cell" class="gf-table-cells"
                            ng-style="{'width' : editor.eventsTable.getWidth('actions')}">
                            <div class="gf-table-content gf-unselectable"
                                style="text-align: left;justify-content: center;">
                                <div ng-click="editor.removeEventMap(rule,$index);editor.onRulesChange()"
                                    title="Delete this mapping object" class="gf-icon-action gf-icon-remove">
                                </div>
                                <div ng-click="event.isHidden() ? event.show(): event.hide();editor.onRulesChange()"
                                    title="Enable/Disable this mapping" class="gf-icon-action"
                                    ng-class="{'gf-icon-show': !event.isHidden(), 'gf-icon-hide': event.isHidden()}">
                                </div>
                                <div ng-click="editor.flowchartHandler.setMap(event,rule.data.eventProp)"
                                    title="Select a shape in diagram" class="gf-icon-action"
                                    ng-class="{'gf-icon-target': !editor.flowchartHandler.isMapping(event), 'gf-icon-empty': editor.flowchartHandler.isMapping(event)}">
                                </div>
                                <div ng-click="rule.cloneEventMap(event);editor.onRulesChange();"
                                    title="Duplicate this mapping" class="gf-icon-action gf-icon-clone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gf-table-row_body" ng-show="event.reduce === false">
                        <!-- <ng-include src="$GF.plugin.getPartialPath() + 'rules/events/eventBody.html'"> </ng-include> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>