<div role=" table" class="gf-table-main" id="EventsTable" style="overflow: visible;">
    <div class="gf-custom-scrollbar"
        style="position: relative; overflow: visible; width: 100%; height: auto; min-height: 0px; max-height: 100%;box-sizing: inherit;">
        <div class="gf-view"
            style="position: relative; overflow: visible; margin-right: -8px; margin-bottom: -8px; max-height: calc(100% + 8px);">
            <!-- THEAD -->
            <div class="gf-table-thead gf-unselectable" role="row" ng-mouseup="editor.eventsTable.onMouseUp($event)"
                ng-mousemove="editor.eventsTable.onMouseMove($event)"
                ng-mouseleave="editor.eventsTable.onMouseUp($event)">
                <!-- HEADERS -->
                <!-- EXPAND -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('expand')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('expand')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('expand')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- WHAT -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('what')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('what')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('what')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Enter shape Id or click on target button', 'LINKS')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- WHEN -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('when')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('when')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('when')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Select condition to apply event on object.', 'SHAPES')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- LEVEL -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('level')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('level')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('level')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Select condition to apply event on object.', 'SHAPES')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- THEN -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('then')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('then')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('then')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Select condition to apply event on object.', 'SHAPES')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- WITH -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('with')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('with')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('with')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Enter absolute or relative URL', 'MAPPING#Event')"> </span>
                        </info-popover></label>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- ACTION -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.eventsTable.getWidth('actions')}">
                    <div ng-attr-title="{{editor.eventsTable.getDesc('actions')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.eventsTable.getLabel('actions')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.eventsTable.onMouseDown($event)">
                    </div>
                </div>
            </div>
            <!-- TBODY -->
            <div class="gf-table-body">
                <div role="row" class="gf-table-rows" ng-repeat="elt in rule.getEventMaps()">
                    <!-- CELLS -->
                    <div class="gf-table-row_line" ng-init="elt.displayEdit = [];elt.inEdit = [];"
                        ng-mouseleave="editor.unselectCell(rule.data.eventProp,elt.data.pattern)"
                        ng-mouseover="editor.selectCell(rule.data.eventProp,elt.data.pattern)">
                        <!-- EXPAND -->
                        <div role="cell" class="gf-table-cells" id="expand" ng-click="elt.reduce=!elt.reduce"
                            ng-init="CN1 = 'expand';elt.displayEdit[CN1] = false;elt.inEdit[CN1] = false;"
                            ng-style="{'width' : editor.eventsTable.getWidth(CN1)}">
                            <div class="gf-table-content gf-unselectable" style="text-align: center; cursor: pointer;">
                                <span>
                                    <i class="fa fa-chevron-right" title="Expand/Collapse for detail"
                                        ng-class="{'fa-chevron-right': elt.reduce, 'fa-chevron-down': elt.reduce === false}">
                                    </i>
                                </span>
                            </div>
                        </div>
                        <!-- WHAT -->
                        <div role="cell" class="gf-table-cells"
                            ng-init="CN2 = 'what';elt.displayEdit[CN2] = false;elt.inEdit[CN2] = false;"
                            ng-mouseleave="elt.displayEdit[CN2] = false;" ng-mouseover="elt.displayEdit[CN2] = true;"
                            ng-style="{'width' : editor.eventsTable.getWidth(CN2)}">
                            <div class="gf-table-content" ng-show="elt.inEdit[CN2] !== true"
                                ng-attr-title="{{elt.data.pattern}}" ng-dblclick="elt.inEdit[CN2] = true;">
                                {{elt.data.pattern}}
                            </div>
                            <div ng-show="elt.displayEdit[CN2] === true && elt.inEdit[CN2] !== true"
                                ng-click="elt.inEdit[CN2] = true;$GF.setFocus( elt.getId() + '-' + CN2 )"
                                title="Edit pattern"
                                class="gf-icon-action gf-icon-edit gf-icon-oncontent gf-icon-withcontent">
                            </div>
                            <div ng-show="elt.displayEdit[CN2] === true && elt.inEdit[CN2] !== true && !editor.flowchartHandler.isMapping(elt)"
                                ng-click="editor.flowchartHandler.setMap(elt,rule.data.eventProp)"
                                class="gf-icon-action gf-icon-target gf-icon-withcontent"
                                title="Select a text in diagram">
                            </div>
                            <input type="text" style="margin-right: 2px;width : 100%"
                                ng-attr-id="{{elt.getId() + '-' + CN2}}" ng-show="elt.inEdit[CN2] === true"
                                class="gf-form-input" ng-model="elt.data.pattern" ng-change="editor.onRulesChange()"
                                ng-model-onblur ng-blur="editor.onRulesChange();elt.inEdit[CN2] = false;"
                                bs-typeahead="rule.data.eventProp === 'id' ? editor.getCellNamesById : editor.getCellNamesByValue"
                                data-min-length="0" data-items="100" data-placement="right" />
                        </div>
                        <!-- WHEN -->
                        <div role="cell" class="gf-table-cells"
                            ng-init="CN3 = 'when';elt.displayEdit[CN3] = false;elt.inEdit[CN3] = false;"
                            ng-mouseleave="elt.displayEdit[CN3] = false;" ng-mouseover="elt.displayEdit[CN3] = true;"
                            ng-style="{'width' : editor.eventsTable.getWidth(CN3)}">
                            <!-- {{elt.data.comparator}} -->
                            <div class="gf-table-content" style="text-align: left;"
                                ng-attr-title="{{$GF.GetT4V( editor.comparator, elt.data.comparator)}}"
                                ng-dblclick="elt.inEdit[CN3] = true;$GF.setFocus( elt.getId() + '-' + CN3 )"
                                ng-show="elt.inEdit[CN3] !== true">
                                {{$GF.GetT4V( editor.comparator, elt.data.comparator)}}
                            </div>
                            <div ng-show="elt.displayEdit[CN3] === true && elt.inEdit[CN3] !== true"
                                ng-click="elt.inEdit[CN3] = true;$GF.setFocus( elt.getId() + '-' + CN3 )"
                                class="gf-icon-action gf-icon-edit gf-icon-withcontent" title="Edit condition">
                            </div>
                            <select class="gf-form-input" ng-model="elt.data.comparator" style="width:100%;"
                                ng-show="elt.inEdit[CN3] === true" ng-attr-id="{{elt.getId() + '-' + CN3}}"
                                ng-blur="editor.onRulesChange();elt.inEdit[CN3] = false;"
                                ng-attr-title="{{$GF.GetT4V( editor.comparator, elt.data.comparator)}}"
                                ng-options="c.value as c.text for c in editor.comparator"
                                ng-change="editor.onRulesChange()">
                            </select>
                        </div>
                        <!-- LEVEL -->
                        <div role="cell" class="gf-table-cells"
                            ng-init="CN4 = 'level';elt.displayEdit[CN4] = false;elt.inEdit[CN4] = false;"
                            ng-mouseleave="elt.displayEdit[CN4] = false;" ng-mouseover="elt.displayEdit[CN4] = true;"
                            ng-style="{'width' : editor.eventsTable.getWidth(CN4)}">
                            <!-- {{elt.data.EventOn}} -->
                            <div class="gf-table-content" style="text-align: center;justify-content: center;"
                                ng-attr-title="TODO : Add threshold definition"
                                ng-dblclick="elt.inEdit[CN4] = true;$GF.setFocus( elt.getId() + '-' + CN4 )"
                                ng-show="elt.inEdit[CN4] !== true">
                                {{elt.data.eventOn}}
                            </div>
                            <div ng-show="elt.displayEdit[CN4] === true && elt.inEdit[CN4] !== true"
                                ng-click="elt.inEdit[CN4] = true;$GF.setFocus( elt.getId() + '-' + CN4 )"
                                class="gf-icon-action gf-icon-edit gf-icon-withcontent" title="Edit threshold level">
                            </div>
                            <select style="width:100%;" convert-to-number class="gf-form-input"
                                ng-blur="editor.onRulesChange();elt.inEdit[CN4] = false;" ng-model="elt.data.eventOn"
                                ng-show="elt.inEdit[CN4] === true" ng-attr-id="{{elt.getId() + '-' + CN4}}"
                                ng-change="editor.onRulesChange()">
                                <option type="number" ng-repeat="color in rule.data.colors" ng-value="$index">{{$index}}
                                </option>
                            </select>
                        </div>
                        <!-- THEN -->
                        <div role="cell" class="gf-table-cells"
                            ng-init="CN5 = 'then';elt.displayEdit[CN5] = false;elt.inEdit[CN5] = false;"
                            ng-mouseleave="elt.displayEdit[CN5] = false;" ng-mouseover="elt.displayEdit[CN5] = true;"
                            ng-style="{'width' : editor.eventsTable.getWidth(CN5)}">
                            <!-- {{elt.data.EventType}} -->
                            <div class="gf-table-content" style="text-align: left;"
                                ng-attr-title="{{$GF.GetT4V( editor.EventType, elt.data.style)}}"
                                ng-dblclick="elt.inEdit[CN5] = true;$GF.setFocus( elt.getId() + '-' + CN5 )"
                                ng-show="elt.inEdit[CN5] !== true">
                                <span>
                                    {{$GF.GetT4V( editor.EventType, elt.data.style)}}
                                </span>
                            </div>
                            <div ng-show="elt.displayEdit[CN5] === true && elt.inEdit[CN5] !== true"
                                ng-click="elt.inEdit[CN5] = true;$GF.setFocus( elt.getId() + '-' + CN5 )"
                                class="gf-icon-action gf-icon-edit gf-icon-withcontent" title="Select an action">
                            </div>
                            <select class="gf-form-input" 
                                ng-model="elt.data.style" style="width:100%;"
                                ng-show="elt.inEdit[CN5] === true"
                                ng-attr-id="{{elt.getId() + '-' + CN5}}"
                                ng-blur="editor.onRulesChange();elt.inEdit[CN5]= false;"
                                ng-attr-title="{{$GF.GetT4V( editor.EventType, elt.data.style)}}"
                                ng-options="c.value as c.text for c in editor.EventType"
                                ng-change="editor.onRulesChange()">
                            </select>
                        </div>
                        <!-- WITH -->
                        <div role="cell" class="gf-table-cells"
                            ng-init="CN6 = 'with';elt.displayEdit[CN6] = false;elt.inEdit[CN6] = false;"
                            ng-mouseleave="elt.displayEdit[CN6] = false;" ng-mouseover="elt.displayEdit[CN6] = true;"
                            ng-style="{'width' : editor.eventsTable.getWidth(CN6)}">
                            <!-- {{elt.data.value}} -->
                            <div class="gf-table-content" style="text-align: left;"
                                ng-dblclick="elt.inEdit[CN6] = true;$GF.setFocus( elt.getId() + '-' + CN6 )"
                                ng-show="elt.inEdit[CN6] !== true">
                                {{elt.data.value}}
                            </div>
                            <div ng-show="elt.displayEdit[CN6] === true && elt.inEdit[CN6] !== true"
                                ng-click="elt.inEdit[CN6] = true;$GF.setFocus( elt.getId() + '-' + CN6 )"
                                class="gf-icon-action gf-icon-edit gf-icon-withcontent" title="Edit current value">
                            </div>
                            <input type="text" style="margin-right: 2px;"
                                ng-show="elt.inEdit[CN6] === true"
                                class="gf-form-input"
                                ng-model="elt.data.value"
                                placeholder="{{elt.getPlaceHolder()}}"
                                bs-typeahead="editor.getEventValues"
                                title="Specify value for this action"
                                data-min-length="0" data-items="100" ng-focus="editor.onEventValue(elt)"
                                ng-blur="editor.onRulesChange();elt.inEdit[CN6] = false" data-min-length="0"
                                data-items="100" ng-model-onblur data-placement="right"/>
                        </div>
                        <!-- OPTIONS -->
                        <!-- <div role="cell" class="gf-table-cells"
                            ng-style="{'width' : editor.eventsTable.getWidth('options')}">
                            <div class="gf-table-content gf-unselectable"
                                style="text-align: center;justify-content: center;">
                                <div ng-click="elt.data.eventParams = !elt.data.eventParams;editor.onRulesChange()"
                                    title="Add/Remove the dashboad parameters with url" class="gf-icon-action"
                                    ng-class="{'gf-icon-address-on': elt.data.eventParams, 'gf-icon-address-off': !elt.data.eventParams}">
                                </div>
                            </div>
                        </div> -->
                        <!-- ACTION -->
                        <div role="cell" class="gf-table-cells"
                            ng-style="{'width' : editor.eventsTable.getWidth('actions')}">
                            <div class="gf-table-content gf-unselectable"
                                style="text-align: left;justify-content: center;">
                                <div ng-click="editor.removeEventMap(rule,$index);editor.onRulesChange()"
                                    title="Delete this mapping object" class="gf-icon-action gf-icon-remove">
                                </div>
                                <div ng-click="elt.isHidden() ? elt.show(): elt.hide();editor.onRulesChange()"
                                    title="Enable/Disable this mapping" class="gf-icon-action"
                                    ng-class="{'gf-icon-show': !elt.isHidden(), 'gf-icon-hide': elt.isHidden()}">
                                </div>
                                <div ng-click="editor.flowchartHandler.setMap(elt,rule.data.eventProp)"
                                    title="Select a shape in diagram" class="gf-icon-action"
                                    ng-class="{'gf-icon-target': !editor.flowchartHandler.isMapping(elt), 'gf-icon-empty': editor.flowchartHandler.isMapping(elt)}">
                                </div>
                                <div ng-click="rule.cloneEventMap(elt);editor.onRulesChange();"
                                    title="Duplicate this mapping" class="gf-icon-action gf-icon-clone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gf-table-row_body" ng-show="elt.reduce === false">
                        <ng-include src="$GF.plugin.getPartialPath() + 'rules/events/eventBody.html'"> </ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>