@import 'chartist';
@import 'icons';
@import 'table';

div.flowchart-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

div.flowchart-panel-chart {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  margin: 0;
}

// table.flowchartTable-editor {
//   font-family: Arial, Helvetica, sans-serif;
//   border: 2px solid #161719;
//   background-color: #212124;
//   width: 90%;
//   height: 200px;
//   text-align: left;
//   border-collapse: collapse;
// }

// table.flowchartTable-editor td,
// table.flowchartTable-editor th {
//   border: 2px solid #161719;
//   padding: 2px 2px;
// }
// table.flowchartTable-editor tbody td {
//   font-size: 11px;
//   color: #e6e6e6;
// }
// table.flowchartTable-editor thead {
//   background: #2f2f32;
//   border-bottom: 2px solid #000000;
// }
// table.flowchartTable-editor thead th {
//   font-size: 12px;
//   font-weight: bold;
//   color: #33b5e5;
//   text-align: center;
//   border-left: 2px solid #171819;
// }
// table.flowchartTable-editor thead th:first-child {
//   border-left: none;
// }

// table.flowchartTable-editor tfoot td {
//   font-size: 12px;
// }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid $hr_color;
}

// div.rule-item {
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   font-family: Roboto, Helvetica Neue, Arial, sans-serif;
//   font-size: 13px;
//   line-height: 1.5;
//   -webkit-box-direction: normal;
//   box-sizing: inherit;
//   text-decoration: none;
//   touch-action: manipulation;
//   display: block;
//   margin: 3px;
//   padding: 7px;
//   background: linear-gradient(135deg, #2f2f32, #262628);
//   box-shadow: -1px -1px 0 0 hsla(0, 0%, 100%, 0.1), 1px 1px 0 0 rgba(0, 0, 0, 0.3);
//   color: #d8d9da;
// }

// div.rule-item:hover {
//   background: linear-gradient(135deg, #3d3d41, #262628);
// }

// span.rule-extend {
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   font-family: Roboto, Helvetica Neue, Arial, sans-serif;
//   font-size: 13px;
//   line-height: 1.5;
//   -webkit-box-direction: normal;
//   cursor: pointer;
//   color: #dad9d8;
//   box-sizing: inherit;
// }

// span.rule-title {
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   font-family: Roboto, Helvetica Neue, Arial, sans-serif;
//   font-size: 13px;
//   line-height: 1.5;
//   -webkit-box-direction: normal;
//   cursor: pointer;
//   color: #dad9d8;
//   box-sizing: inherit;
// }

// span.rule-nav {
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   font-family: Roboto, Helvetica Neue, Arial, sans-serif;
//   font-size: 13px;
//   line-height: 1.5;
//   -webkit-box-direction: normal;
//   cursor: pointer;
//   color: #d8d9da;
//   box-sizing: inherit;
//   float: right;
// }

div.tooltip-text {
  display: block;
  word-wrap: break-word;
  max-width: 200px;
  white-space: normal;
}

div.tooltip-metric {
  margin: 5px 5px 5px 5px;
}

div.tooltip-graph {
  margin: 5px 5px 5px 5px;
}

div.tooltip-date {
  margin-top: 5px;
  margin-bottom: 5px;
}

.gf-resizing {
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: col-resize;
}

div.gf-inspect-color-picker {
  margin-right: 2px;
  width: 14px;
  height: 14px;
  border: 1px solid $color_picker_border;
  border-radius: 3px;
  text-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 8px;
}

.gf-unselectable {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.gf-flowchartHide {
  opacity: 0;
  z-index: 0;
  transition: 0.3s ease;
}

.gf-flowchartShow {
  opacity: 1;
  z-index: 1;
  transition: 0.3s ease;
}

.gf-navigation {
  z-index: 2;
  position: absolute;
  box-sizing: border-box;
  border-radius: 20px;
  height: 20px;
  width: 50px;
  white-space: nowrap;
  background-color: $notifier_background;
  opacity: 0.2;
  bottom: 1px;
  right: 5px;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
}

.gf-navigation:hover {
  opacity: 1;
  transition: 0.2s ease;
}

.gf-console {
  z-index: 2;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  color:ghostwhite;
  white-space: nowrap;
  background-color: $notifier_background;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.gf-message {
  margin: 0;
  width: auto;
  overflow: hidden;
}

.gf-mapping {
  z-index: 2;
  position: absolute;
  box-sizing: border-box;
  border-radius: 20px;
  height: 30px;
  // width: 33%;
  width: auto;
  min-width: 225px;
  font-size: 12px;
  color:ghostwhite;
  white-space: nowrap;
  background-color: $notifier_background;
  bottom: 1px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
