<div class="section gf-form-group" ng-if="['number', 'string'].indexOf(rule.data.type) !== -1">
    <h5 class="section-heading" ng-if="rule.data.invert">
      Thresholds ( 0 : Ok > ... > {{rule.getColorsCount() - 1}} : Critical)
      <info-popover mode="right-normal"><span
          ng-bind-html="$GF.popover('Define states according to value and direction (invert).', 'THRESHOLDS')"></span>
      </info-popover>
    </h5>
    <h5 class="section-heading" ng-if="!rule.data.invert">
      Thresholds ({{rule.getColorsCount() - 1}} : Critical > ... > 0 : Ok)
      <info-popover mode="right-normal"><span
          ng-bind-html="$GF.popover('Define states according to value and direction (invert).', 'THRESHOLDS')"></span>
      </info-popover>
    </h5>
    <ng-include src="$GF.plugin.getPartialPath() + 'rules/thresholds/thresholdsTable.html'"> </ng-include>
  </div>