<!-- <textarea>{{rule.getThresholds() | json}}</textarea> -->
<div role=" table" class="gf-table-main" id="THsTable" style="overflow: visible;">
    <div class="gf-custom-scrollbar"
        style="position: relative; overflow: visible; width: 100%; height: auto; min-height: 0px; max-height: 100%;box-sizing: inherit;">
        <div class="gf-view"
            style="position: relative; overflow: visible; margin-right: -8px; margin-bottom: -8px; max-height: calc(100% + 8px);">
            <!-- THEAD -->
            <div class="gf-table-thead gf-unselectable" role="row" ng-mouseup="editor.THsTable.onMouseUp($event)"
                ng-mousemove="editor.THsTable.onMouseMove($event)" ng-mouseleave="editor.THsTable.onMouseUp($event)">
                <!-- HEADERS -->
                <!-- EXPAND -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.THsTable.getWidth('expand')}">
                    <div ng-attr-title="{{editor.THsTable.getDesc('expand')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.THsTable.getLabel('expand')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.THsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- COLORS -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.THsTable.getWidth('colors')}">
                    <div ng-attr-title="{{editor.THsTable.getDesc('colors')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.THsTable.getLabel('colors')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Select a color', 'LINKS')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.THsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- WHEN -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.THsTable.getWidth('when')}">
                    <div ng-attr-title="{{editor.THsTable.getDesc('when')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.THsTable.getLabel('when')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover(editor.THsTable.getDesc('when'), 'THRESHOLD')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.THsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- VALUE -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.THsTable.getWidth('value')}">
                    <div ng-attr-title="{{editor.THsTable.getDesc('value')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.THsTable.getLabel('value')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Select condition to apply event on object.', 'SHAPES')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize"
                        ng-mousedown="editor.THsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- LEVEL -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.THsTable.getWidth('level')}">
                    <div ng-attr-title="{{editor.THsTable.getDesc('level')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.THsTable.getLabel('level')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Select condition to apply event on object.', 'SHAPES')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize"
                        ng-mousedown="editor.THsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- OPTIONS -->
                <!-- <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.THsTable.getWidth('options')}">
                    <div ng-attr-title="{{editor.THsTable.getDesc('options')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.THsTable.getLabel('options')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover('Enter absolute or relative URL', 'MAPPING#Event')"> </span>
                        </info-popover></label>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.THsTable.onMouseDown($event)">
                    </div>
                </div> -->
                <!-- ACTION -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.THsTable.getWidth('actions')}">
                    <div ng-attr-title="{{editor.THsTable.getDesc('actions')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.THsTable.getLabel('actions')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.THsTable.onMouseDown($event)">
                    </div>
                </div>
            </div>
            <!-- TBODY -->
            <div class="gf-table-body">
                <div role="row" class="gf-table-rows" ng-repeat="elt in rule.getThresholds()">
                    <!-- <textarea>{{elt | json}}</textarea> -->
                    <!-- CELLS -->
                    <div class="gf-table-row_line" ng-init="elt.displayEdit = [];elt.inEdit = [];">
                        <!-- EXPAND -->
                        <div role="cell" class="gf-table-cells" ng-click="elt.reduce=!elt.reduce"
                            ng-init="CN1 = 'expand';elt.displayEdit[CN1] = false;elt.inEdit[CN1] = false;"
                            ng-style="{'width' : editor.THsTable.getWidth(CN1)}">
                            <div class="gf-table-content gf-unselectable" style="text-align: center; cursor: pointer;">
                                <span>
                                    <i class="fa fa-chevron-right" title="Expand/Collapse for detail"
                                        ng-class="{'fa-chevron-right': elt.reduce, 'fa-chevron-down': elt.reduce === false}">
                                    </i>
                                </span>
                            </div>
                        </div>
                        <!-- COLORS -->
                        <div role="cell" class="gf-table-cells"
                            ng-init="CN2 = 'colors';elt.displayEdit[CN2] = false;elt.inEdit[CN2] = false;"
                            ng-mouseleave="elt.displayEdit[CN2] = false;" ng-mouseenter="elt.displayEdit[CN2] = true;"
                            ng-style="{'width' : editor.THsTable.getWidth(CN2)}" ng-attr-title="{{elt.data.pattern}}">
                            <div class="gf-table-content" style="text-align: center">
                                <div class="gf-icon" style="width : 15px; height: 15px;"
                                    ng-click="elt.displayEdit[CN2] === false"
                                    ng-show="elt.displayEdit[CN2] === true || elt.data.color.length > 0">
                                    <color-picker color="elt.data.color" onChange="editor.onColorChange(elt)">
                                    </color-picker>
                                </div>
                                <div class="gf-icon-circle-slashed gf-icon-action" style="width : 15px; height: 15px;"
                                    ng-show="elt.displayEdit[CN2] === true || elt.data.color.length === 0"
                                    ng-click="elt.data.color = '';elt.displayEdit[CN2] === false;editor.onRulesChange();">
                                </div>
                            </div>
                        </div>
                        <!-- WHEN -->
                        <div role="cell" class="gf-table-cells"
                            ng-init="CN3 = 'when';elt.displayEdit[CN3] = false;elt.inEdit[CN3] = false;"
                            ng-mouseleave="elt.displayEdit[CN3] = false;" ng-mouseenter="elt.displayEdit[CN3] = true;"
                            ng-style="{'width' : editor.THsTable.getWidth(CN3)}" ng-attr-title="{{elt.data.pattern}}">
                            <div class="gf-table-content" style="text-align: center">
                                <div
                                    ng-show="(elt.displayEdit[CN3] === true && elt.isValidComp('ge')) || elt.data.comparator === 'ge'" 
                                    ng-click="elt.data.comparator = 'ge';editor.onRulesChange();"
                                    class="gf-icon-comp-ge gf-icon-action" title="Greater or equal than"
                                    ng-class="{'gf-icon-selected' : elt.data.comparator === 'ge'}">
                                </div>
                                <div 
                                    ng-show="(elt.displayEdit[CN3] === true && elt.isValidComp('gt')) || elt.data.comparator === 'gt'"
                                    ng-click="elt.data.comparator = 'gt';editor.onRulesChange();"
                                    class="gf-icon-comp-gt gf-icon-action" title="Greater than"
                                    ng-class="{'gf-icon-selected' : elt.data.comparator === 'gt'}">
                                </div>
                            </div>
                        </div>
                        <!-- VALUE/THAN -->
                        <div role="cell" class="gf-table-cells"
                            ng-init="CN4 = 'value';elt.displayEdit[CN4] = false;elt.inEdit[CN4] = false;"
                            ng-mouseleave="elt.displayEdit[CN4] = false;" ng-mouseenter="elt.displayEdit[CN4] = true;"
                            ng-style="{'width' : editor.THsTable.getWidth(CN4)}"
                            ng-attr-title="{{$index > 0 && rule.data.type === 'number' ? 'Specify a value for apply color when value is greater or equal' : 'Specify a pattern regex for apply color' }}">
                            <div class="gf-table-content" style="text-align: center;justify-content: center;"
                                ng-attr-title="TODO : Add threshold definition" ng-show="elt.inEdit[CN4] !== true">
                                <span ng-dblclick="elt.inEdit[CN4] = true;$GF.setFocus( elt.getId() + '-' + CN4 )"
                                    ng-show="$index > 0 && rule.data.type === 'number'">
                                    {{elt.data.value}}
                                </span>
                                <label class="gf-form-label" style="margin-right: 2px;display : inherit"
                                    ng-show="$index === 0">
                                    Base
                                </label>
                            </div>
                            <div ng-show="elt.displayEdit[CN4] === true && elt.inEdit[CN4] !== true && $index > 0"
                                ng-click="elt.inEdit[CN4] = true;$GF.setFocus( elt.getId() + '-' + CN4 )"
                                class="gf-icon-action gf-icon-edit gf-icon-withcontent" title="Edit threshold level">
                            </div>
                            <input ng-show="elt.inEdit[CN4] === true && rule.data.type === 'number'"
                                ng-attr-id="{{elt.getId() + '-' + CN4}}" type="number" class="gf-form-input"
                                ng-model="elt.data.value" ng-model-onblur
                                ng-blur="editor.onRulesChange();elt.inEdit[CN4] = false;" placeholder="pattern or value"
                                ng-attr-title="rule.data.type === 'string' ? 'Specify a pattern regex for apply color' : 'Enter a number'" />
                            <input ng-show="elt.inEdit[CN4] === true && rule.data.type === 'string'"
                                ng-attr-id="{{elt.getId() + '-' + CN4}}" type="text" class="gf-form-input"
                                ng-model="elt.data.value" ng-model-onblur
                                ng-blur="editor.onRulesChange();elt.inEdit[CN4] = false;" placeholder="pattern or value"
                                ng-attr-title="rule.data.type === 'string' ? 'Specify a pattern regex for apply color' : 'Enter a number'" />
                        </div>
                        <!-- LEVEL -->
                        <div role="cell" class="gf-table-cells"
                            ng-init="CN5 = 'level';elt.displayEdit[CN5] = false;elt.inEdit[CN5] = false;"
                            ng-mouseleave="elt.displayEdit[CN5] = false;" ng-mouseenter="elt.displayEdit[CN5] = true;"
                            ng-style="{'width' : editor.THsTable.getWidth(CN5)}"
                            ng-attr-title="{{ 'Computed level is' + elt.getTHLevel(th) }}">
                            <!-- {{elt.data.EventType}} -->
                            <div class="gf-table-content" style="text-align: center;">
                                <span>
                                    {{ rule.getThresholdLevelForIndex($index) }}
                                </span>
                            </div>
                        </div>
                        <!-- OPTIONS -->
                        <!-- <div role="cell" class="gf-table-cells"
                            ng-style="{'width' : editor.THsTable.getWidth('options')}">
                            <div class="gf-table-content gf-unselectable"
                                style="text-align: center;justify-content: center;">
                                <div ng-click="elt.data.eventParams = !elt.data.eventParams;editor.onRulesChange()"
                                    title="Add/Remove the dashboad parameters with url" class="gf-icon-action"
                                    ng-class="{'gf-icon-address-on': elt.data.eventParams, 'gf-icon-address-off': !elt.data.eventParams}">
                                </div>
                            </div>
                        </div> -->
                        <!-- ACTION -->
                        <div role="cell" class="gf-table-cells"
                            ng-style="{'width' : editor.THsTable.getWidth('actions')}">
                            <div class="gf-table-content gf-unselectable"
                                style="text-align: left;justify-content: center;">
                                <div ng-click="rule.addThreshold($index)" title="Add e new threshold"
                                    class="gf-icon-action gf-icon-new">
                                </div>
                                <div ng-show="$index === 0" class="gf-icon-empty">
                                </div>
                                <div ng-show="$index !== 0"
                                    ng-click="elt.isHidden() ? elt.show(): elt.hide();editor.onRulesChange()"
                                    title="Hide/Disable this color/level" class="gf-icon-action"
                                    ng-class="{'gf-icon-show': !elt.isHidden(), 'gf-icon-hide': elt.isHidden()}">
                                </div>
                                <div ng-show="$index === 0" class="gf-icon-empty">
                                </div>
                                <div ng-show="$index !== 0"
                                    ng-click="rule.removeThreshold($index);editor.onRulesChange()"
                                    title="Delete this color" class="gf-icon-action gf-icon-remove">
                                </div>
                                <div ng-click="rule.cloneThreshold($index);editor.onRulesChange();"
                                    title="Duplicate this color" class="gf-icon-action gf-icon-clone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gf-table-row_body" ng-show="elt.reduce === false">
                        <ng-include src="$GF.plugin.getPartialPath() + 'rules/events/eventBody.html'"> </ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>