<!-- <div class="edit-tab-content" id="templateInspect"> -->
  <div class="editor-row">
    <ng-include src="GFPlugin.getPartialPath() + 'inspect/states/statesTable.html'"> </ng-include>
  </div>
<!-- </div> -->

<!-- <div class="edit-tab-content" id="templateInspect"> -->
  <!-- <div class="editor-row">
    <div class="gf-form" ng-show="editor.flowchartHandler.getFlowchart().getStateHandler().edited">
      <button class="btn btn-danger btn-small" ng-click="editor.reset()" style="margin-right: 5px;">
        <i class="fa fa-power-off"></i> Reinit graph and color
      </button>
      <button ng-show="editor.flowchartHandler.getFlowchart().getStateHandler().edited"
        class="btn btn-secondary btn-small" ng-click="editor.apply()" style="margin-right: 5px;">
        <i class="fa fa-save"></i> Apply changes
      </button>
    </div>
  </div> -->
<!-- </div> -->
