<div role=" table" class="gf-table-main" id="StatesTable">
    <div class="custom-scrollbar"
        style="position: relative; overflow: hidden; width: 100%; height: auto; min-height: 0px; max-height: 100%;box-sizing: inherit;">
        <div class="view"
            style="position: relative; overflow: scroll; margin-right: -8px; margin-bottom: -8px; max-height: calc(100% + 8px);">
            <!-- THEAD -->
            <div class="gf-table-thead gf-unselectable" role="row" ng-mouseup="editor.statesTable.onMouseUp($event)"
                ng-mousemove="editor.statesTable.onMouseMove($event)"
                ng-mouseleave="editor.statesTable.onMouseUp($event)">
                <!-- HEADERS -->
                <!-- EXPAND -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.statesTable.getWidth('expand')}">
                    <div ng-attr-title="{{editor.statesTable.getDesc('expand')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.statesTable.getLabel('expand')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.statesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- ID -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.statesTable.getWidth('id')}">
                    <div ng-attr-title="{{editor.statesTable.getDesc('id')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.statesTable.getLabel('id')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.statesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- LABEL -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.statesTable.getWidth('label')}">
                    <div ng-attr-title="{{editor.statesTable.getDesc('label')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.statesTable.getLabel('label')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize"
                        ng-mousedown="editor.statesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- SHAPE -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.statesTable.getWidth('shape')}">
                    <div ng-attr-title="{{editor.statesTable.getDesc('shape')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.statesTable.getLabel('shape')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize"
                        ng-mousedown="editor.statesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- LEVEL -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.statesTable.getWidth('level')}">
                    <div ng-attr-title="{{editor.statesTable.getDesc('level')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.statesTable.getLabel('level')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.statesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- RAW VALUE -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.statesTable.getWidth('rval')}">
                    <div ng-attr-title="{{editor.statesTable.getDesc('rval')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.statesTable.getLabel('rval')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.statesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- FORMATED VALUE -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.statesTable.getWidth('fval')}">
                    <div ng-attr-title="{{editor.statesTable.getDesc('fval')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.statesTable.getLabel('fval')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.statesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- COLOR LEVEL -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.statesTable.getWidth('colors')}">
                    <div ng-attr-title="{{editor.statesTable.getDesc('colors')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.statesTable.getLabel('colors')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.statesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- TAGS -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.statesTable.getWidth('tags')}">
                    <div ng-attr-title="{{editor.statesTable.getDesc('tags')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.statesTable.getLabel('tags')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.statesTable.onMouseDown($event)">
                    </div>
                </div>
            </div>
            <!-- TBODY -->
            <div class="gf-table-body">
                <div role="row" class="gf-table-rows gf-table-rows-resizable"
                    ng-repeat="state in editor.flowchartHandler.getFlowchart().getStateHandler().getStatesForInspect()">
                    <!-- CELLS -->
                    <div class="gf-table-row_line" ng-mouseleave="editor.unselectCell(state)"
                        ng-mouseover="editor.selectCell(state)">
                        <!-- EXPAND -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable" id="expand"
                            ng-click="state.reduce=!state.reduce"
                            ng-init="CN1 = 'expand';state.displayEdit[CN1] = false;state.inEdit[CN1] = false;"
                            ng-style="{'width' : editor.statesTable.getWidth(CN1)}">
                            <div class="gf-table-content gf-unselectable" style="text-align: center; cursor: pointer;">
                                <span>
                                    <i class="fa fa-chevron-right" title="Expand/Collapse for detail"
                                        ng-class="{'gf-chevron-init': state.reduce, 'gf-chevron-rotate': state.reduce === false}">
                                    </i>
                                </span>
                            </div>
                        </div>
                        <!-- ID -->
                        <!-- <div role="cell" class="gf-table-cells gf-table-cells-resizable" id="expand"
                            ng-style="{'width' : editor.statesTable.getWidth('id')}"
                            ng-mouseleave="state.editButton = false;" ng-mouseover="state.editButton = true;">
                            <div class="gf-table-content" ng-hide="state.edit"
                                ng-style="editor.isEdited && {'color':'blue'};" ng-dblclick="editor.onEdit(state)">
                                <span>{{state.xcell.getId()}}</span>
                            </div>
                            <div ng-show="state.editButton === true && state.edited === true && state.edit !== true"
                                style="padding:6px;float:right;" ng-click="editor.undo(state)">
                                <span bs-tooltip="'Undo'">
                                    <i class="fa fa-undo"></i>
                                </span>
                            </div>
                            <div ng-show="state.editButton === true && state.edit !== true"
                                style="padding:6px;float:right;" ng-click="editor.onEdit(state)">
                                <span bs-tooltip="'Edit/Change ID'">
                                    <i class="fa fa-edit"></i>
                                </span>
                            </div>
                            <div ng-show="state.edit">
                                <input type="text" ng-attr-id="{{'state-' + state.xcell.uniqId}}" class="gf-form-input"
                                    ng-model="state.xcell.mxcell.id" ng-blur="editor.onChangeId(state)"
                                    placeholder="{{state.xcell.mxcell.id}}" style="width: 100%;"
                                    ng-keydown="$event.keyCode === 13 && editor.onChangeId(state)" />
                            </div>
                        </div> -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable"
                            ng-init="CN2 = 'id';state.displayEdit[CN2] = false;state.inEdit[CN2] = false;"
                            ng-mouseleave="state.displayEdit[CN2] = false;" ng-mouseover="state.displayEdit[CN2] = true;"
                            ng-style="{'width' : editor.statesTable.getWidth(CN2)}"
                            ng-attr-title="{{state.getData().pattern}}">
                            <div class="gf-table-content" ng-show="state.inEdit[CN2] !== true"
                                ng-dblclick="state.inEdit[CN2] = true;$GF.setFocus( state.xcell.mxcell.id + '-' + CN2 )">
                                <span ng-style="editor.isEdited(state) && {'color':'blue'};">
                                    {{state.xcell.mxcell.id}}
                                </span>
                            </div>
                            <div ng-show="state.displayEdit[CN2] === true && state.inEdit[CN2] !== true && editor.isEdited(state)"
                                ng-click="editor.undo(state)"
                                title="undo"
                                class="gf-icon-action gf-icon-undo gf-icon-oncontent gf-icon-withcontent">
                            </div>
                            <div ng-show="state.displayEdit[CN2] === true && state.inEdit[CN2] !== true"
                                ng-click="state.inEdit[CN2] = true;$GF.setFocus( state.xcell.mxcell.id + '-' + CN2 )"
                                title="Edit pattern"
                                class="gf-icon-action gf-icon-edit gf-icon-oncontent gf-icon-withcontent">
                            </div>
                            <input type="text" style="margin-right: 2px;width : 100%"
                                ng-attr-id="{{state.xcell.mxcell.id + '-' + CN2}}" ng-show="state.inEdit[CN2] === true"
                                class="gf-form-input" ng-model="state.xcell.mxcell.id"
                                ng-change="editor.onRulesChange()" ng-model-onblur
                                ng-blur="editor.onRulesChange();state.inEdit[CN2] = false;"
                                data-min-length="0" data-items="100" data-placement="right" />
                        </div>
                        <!-- LABEL -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable" id="rule"
                            ng-style="{'width' : editor.statesTable.getWidth('label')}">
                            <div class="gf-table-content">
                                {{state.xcell.getDefaultLabel()}}
                            </div>
                        </div>
                        <!-- SHAPE -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable" id="rule"
                            ng-style="{'width' : editor.statesTable.getWidth('label')}">
                            <div class="gf-table-content" title="{{state.getShapeStyles()}}">
                                {{state.getShapeName()}}
                            </div>
                        </div>
                        <!-- LEVEL -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable" id="level"
                            style="text-align: center;" ng-style="{'width' : editor.statesTable.getWidth('level')}">
                            <div class="gf-table-content">
                                {{state.getTextLevel()}}
                            </div>
                        </div>
                        <!-- HIGTEST RAW VALUE -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable" id="rval"
                            ng-style="{'width' : editor.statesTable.getWidth('rval')}">
                            <div class="gf-table-content">
                                {{state.highestValue}}
                            </div>
                        </div>
                        <!-- HIGTEST FORMATED VALUE -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable" id="fval"
                            ng-style="{'width' : editor.statesTable.getWidth('fval')}">
                            <div class="gf-table-content">
                                {{state.highestFormattedValue}}
                            </div>
                        </div>
                        <!-- COLOR -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable" id="fval"
                            ng-style="{'width' : editor.statesTable.getWidth('colors')}">
                            <div class="gf-table-content" style="text-align: center;">
                                <!-- TEXT COLOR -->
                                <div ng-show="state.haveStatus('fontColor') && state.getStatus('fontColor').length > 0 && state.getStatus('fontColor') !== 'none'"
                                    style="display:table-cell;vertical-align:middle;">
                                    <div bs-tooltip="'Text : ' + state.getStatus('fontColor')"
                                        class="gf-inspect-color-picker"
                                        style="background-color: {{state.getStatus('fontColor')}};">
                                        <span>T</span>
                                    </div>
                                </div>
                                <!-- FILL COLOR -->
                                <div ng-show="state.haveStatus('fillColor') && state.getStatus('fillColor').length > 0 && state.getStatus('fillColor') !== 'none'"
                                    style="display:table-cell;vertical-align:middle;border-radius: 3px;">
                                    <div bs-tooltip="'Fill : ' + state.getStatus('fillColor')"
                                        class="gf-inspect-color-picker"
                                        style="background-color: {{state.getStatus('fillColor')}};">
                                        <span>F</span>
                                    </div>
                                </div>
                                <!-- STROKE COLOR -->
                                <div ng-show="state.haveStatus('strokeColor') && state.getStatus('strokeColor').length > 0 && state.getStatus('strokeColor') !== 'none'"
                                    style="display:table-cell;vertical-align:middle;">
                                    <div bs-tooltip="'Stroke : ' + state.getStatus('strokeColor')"
                                        class="gf-inspect-color-picker"
                                        style="background-color: {{state.getStatus('strokeColor')}};">
                                        <span>S</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- TAGS -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable" id="actions"
                            ng-style="{'width' : editor.statesTable.getWidth('tags')}">
                            <div class="gf-table-content gf-unselectable">
                                <div style="display:inline-block" ng-show="state.shapeState.isChanged()"
                                    bs-tooltip="'Mapping on Color'"><i class="fa fa-paint-brush"></i></div>
                                <div style="display:inline-block" ng-show="state.textState.isChanged()"
                                    bs-tooltip="'Mapping on text'"><i class="fa fa-paragraph"></i></div>
                                <div style="display:inline-block" ng-show="state.linkState.isChanged()"
                                    bs-tooltip="'Mapping on Link'"><i class="fa fa-chain"></i></div>
                                <div style="display:inline-block" ng-show="state.eventState.isChanged()"
                                    bs-tooltip="'Mapping on Animation'"><i class="fa fa-film"></i></div>
                                <div style="display:inline-block" ng-show="state.changed"
                                    bs-tooltip="'Mapped and Changed'"><i class="fa fa-check-circle"></i></div>
                                <div style="display:inline-block" ng-show="state.getStatus('tooltip') === true"
                                    bs-tooltip="'Tooltips available'"><i class="fa fa-info"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="gf-table-row_body" ng-show="state.reduce === false && editor.initPreview(state)">
                        <ng-include src="$GF.plugin.getPartialPath() + 'inspect/states/stateBody.html'"> </ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>