<div class="section gf-form-group">
  <h5 class="section-heading">
    Label/Text Mappings
    <info-popover mode="right-normal">
      <span ng-bind-html="$GF.popover('Select the text object to replace by value', 'TEXTS','fc_subway_example')">
      </span>
    </info-popover>
  </h5>
  <div id="labelsOptionsGeneral">
    <div class="gf-form">
      <span class="gf-form-label width-11">Identify by
        <info-popover mode="right-normal">
          <span ng-bind-html="$GF.popover('Select the type of data in field \'What\' ID (uniq) or LABEL', 'TEXTS')">
          </span>
        </info-popover>
      </span>
      <!-- ID INPUT -->
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input width-10" ng-model="rule.data.textProp"
          ng-options="c.value as c.text for c in editor.propTypes" ng-change="editor.onRulesChange()"></select>
      </div>
    </div>
    <div class="gf-form">
      <!-- ID Regular expression -->
      <gf-form-switch class="gf-form" label="Regular expression" label-class="width-11" checked="rule.data.textRegEx"
        on-change="editor.onRulesChange()"
        tooltip="Disable this option if you don't use regular expressions in field 'What' below to improve performance">
      </gf-form-switch>
    </div>
    <!-- Table -->
    <ng-include src="$GF.plugin.getPartialPath() + 'rules/labels/labelsTable.html'"> </ng-include>
    <!-- <div class="gf-form">
      <div class="gf-form-button-row">
        <button class="btn btn-inverse" ng-click="rule.addTextMap('')">
          <i class="fa fa-plus"></i>
          &nbsp;Add mapping
        </button>
      </div>
    </div> -->
  </div>
</div>