<div class="edit-tab-content">
	<div class="editor-row">
		<div class="section gf-form-group">
			<h5 class="section-heading">Inspector</h5>
			<div class="gf-form">
				<div class="gf-form">
					<label class="gf-form-label width-8">Coloring
						<info-popover mode="right-normal">
							Test color on shape by move mouse on color in table
						</info-popover>
					</label>
					<span class="gf-form-label">
						<color-picker color="editor.colors[0]" onChange="editor.onColorChange($index, 0)"></color-picker>
					</span>
					<span class="gf-form-label">
						<color-picker color="editor.colors[1]" onChange="editor.onColorChange($index, 1)"></color-picker>
					</span>
					<span class="gf-form-label">
						<color-picker color="editor.colors[2]" onChange="editor.onColorChange($index, 2)"></color-picker>
					</span>
				</div>
			</div>
			<div class="gf-form">
				<label class="gf-form-label width-8">Color Mode
					<info-popover mode="right-normal">
						Select style for apply coloring
					</info-popover>
				</label>
				<div class="gf-form-select-wrapper width-10">
					<select class="gf-form-input" ng-model="editor.colorMode" ng-options="c.value as c.text for c in editor.colorModes"
					 ng-change="editor.onOptionsChange()"></select>
				</div>
			</div>
		</div>
	</div>
	<div class="editor-row">
		<!-- <div class="table-panel-scroll" style="max-height: 300px;"> -->
		<!-- <table class="flowchartTable-editor"> -->
		<div class="table-panel-container">
			<div class="table-panel-header-bg"></div>
			<div class="table-panel-scroll" style="max-height: 300px;">
				<table class="table-panel-table">
					<thead>
						<tr>
							<th>
								<div class="table-panel-table-header-inner pointer">
									Id
									<info-popover mode="right-normal">
										Show shape by move mouse in column
									</info-popover>
								</div>
							</th>
							<th>
								<div class="table-panel-table-header-inner pointer">
									Text</div>
							</th>
							<th>
								<div class="table-panel-table-header-inner pointer">
									Shape
								</div>
							</th>
							<th>
								<div class="table-panel-table-header-inner pointer">
									Font Col.
								</div>
							</th>
							<th>
								<div class="table-panel-table-header-inner pointer">
									Fill Col.
								</div>
							</th>
							<th>
								<div class="table-panel-table-header-inner pointer">
									Stoke Col.
								</div>
							</th>
							<th>
								<div class="table-panel-table-header-inner pointer">
									Edge
								</div>
							</th>
							<th>
								<div class="table-panel-table-header-inner pointer">
									Vertex
								</div>
							</th>
							<th>
								<div class="table-panel-table-header-inner pointer">
									Colorize
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="cell in editor.cells">
							<td ng-mouseleave="mx.unselectCell()" ng-mouseover="mx.selectCell(cell.id)">
								<div class="flowchartTable-editor">
									{{cell.id}}
								</div>
							</td>
							<td>
								<div class="flowchartTable-editor">
									{{cell.text}}
								</div>
							</td>
							<td>
								<div class="flowchartTable-editor">
									{{cell.shape}}
								</div>
							</td>
							<td>
								<div class="flowchartTable-editor">
									<div ng-if="!isNaN(cell.fontColor) && cell.fontColor.length >0">
										<div class="sp-preview">
											<div class="sp-preview-inner" style="background-color: {{cell.fontColor}};border: 1px solid rgb(228, 228, 228);"></div>
										</div>{{cell.fontColor}}
									</div>
								</div>
							</td>
							<td>
								<div class="flowchartTable-editor">
									<div ng-if="!isNaN(cell.fillColor)  && cell.fillColor.length >0">
										<div class="sp-preview">
											<div class="sp-preview-inner" style="background-color: {{cell.fillColor}};border: 1px solid rgb(228, 228, 228);"></div>
										</div>{{cell.fillColor}}
									</div>
								</div>
							</td>
							<td>
								<div class="flowchartTable-editor">
									<div ng-if="!isNaN(cell.strokeColor) && cell.strokeColor.length >0">
										<div class="sp-preview">
											<div class="sp-preview-inner" style="background-color: {{cell.strokeColor}};border: 1px solid rgb(228, 228, 228);"></div>
										</div>{{cell.strokeColor}}
									</div>
								</div>
							</td>
							<td align="center">
								<div class="flowchartTable-editor">
									{{cell.isEdge}}
								</div>
							</td>
							<td align="center">
								<div class="flowchartTable-editor">
									{{cell.isVertex}}
								</div>
							</td>
							<td>
								<div class="flowchartTable-editor">
									<div class="sp-preview" ng-mouseover="mx.changeShape(cell.id,editor.colors[0],editor.colorMode)">
										<div class="sp-preview-inner" style="background-color: {{editor.colors[0]}};border: 1px solid rgb(228, 228, 228);">
										</div>
									</div>
									&nbsp;
									<div class="sp-preview" ng-mouseover="mx.changeShape(cell.id,editor.colors[1],editor.colorMode)">
										<div class="sp-preview-inner" style="background-color: {{editor.colors[1]}};border: 1px solid rgb(228, 228, 228);">
										</div>
									</div>
									&nbsp;
									<div class="sp-preview" ng-mouseover="mx.changeShape(cell.id,editor.colors[2],editor.colorMode)">
										<div class="sp-preview-inner" style="background-color: {{editor.colors[2]}};border: 1px solid rgb(228, 228, 228);">
										</div>
									</div>
									<span ng-mouseover="mx.restoreShape(cell.id)">Restore</span>
								</div>
							</td>
						</tr>
					</tbody>
					</tr>
				</table>
			</div>
		</div>
		<hr>
		<div class="gf-form">
			<button class="btn btn-danger btn-small" ng-click="mx.reset()">
			  <i class="fa fa-power-off"></i> Reinit graph and color
			</button>
		  </div>
		<!-- </div> -->
		<div class="datapoints-warning" ng-show="editor.cells.length===0">
			<span class="small">
				No data to show <tip>Nothing returned by data query</tip>
			</span>
		</div>
	</div>
</div>