<div class="flowchart-editor-container">
	<table class="flowchartTable-editor">
		<thead>
			<tr >
				<th>Id</th>
				<th>Value</th>
				<th>Style</th>
				<th>Edged</th>
				<th>Connectable</th>
				<th>Vertex</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in ctrl.cells.rows" ng-mouseleave="ctrl.onMouseLeave(row.id)" ng-mouseover="ctrl.onMouseOver(row.id)">
				<td >{{row.id}}</td>
				<td>{{row.value}}</td>
				<td>{{row.style}}</td>
				<td>{{row.isedge}}</td>
				<td>{{row.isConnectable}}</td>
				<td>{{row.isVertex}}</td>
			</tr>
		</tbody>
		</tr>
	</table>
	<div class="datapoints-warning" ng-show="ctrl.cells.rows.length===0">
		<span class="small">
			No data to show <tip>Nothing returned by data query</tip>
		</span>
	</div>