<div role=" table" class="gf-table-main" id="FlowchartsTable">
    <div class="custom-scrollbar"
        style="position: relative; overflow: hidden; width: 100%; height: auto; min-height: 0px; max-height: 100%;box-sizing: inherit;">
        <div class="view"
            style="position: relative; overflow: scroll;margin-right: -8px; margin-bottom: -8px; max-height: calc(100% + 8px);">
            <!-- THEAD -->
            <div class="gf-table-thead gf-unselectable" role="row" ng-mouseup="editor.flowchartsTable.onMouseUp($event)"
                ng-mousemove="editor.flowchartsTable.onMouseMove($event)"
                ng-mouseleave="editor.flowchartsTable.onMouseUp($event)">
                <!-- HEADERS -->
                <!-- EXPAND -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.flowchartsTable.getWidth('expand')}">
                    <div ng-attr-title="{{editor.flowchartsTable.getDesc('expand')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.flowchartsTable.getLabel('expand')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.flowchartsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- NAME -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.flowchartsTable.getWidth('name')}">
                    <div ng-attr-title="{{editor.flowchartsTable.getDesc('name')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.flowchartsTable.getLabel('name')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.flowchartsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- TYPE -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.flowchartsTable.getWidth('type')}">
                    <div ng-attr-title="{{editor.flowchartsTable.getDesc('type')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.flowchartsTable.getLabel('type')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize"
                        ng-mousedown="editor.flowchartsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- SOURCE -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.flowchartsTable.getWidth('source')}">
                    <div ng-attr-title="{{editor.flowchartsTable.getDesc('source')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.flowchartsTable.getLabel('source')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.flowchartsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- BACKGROUND -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.flowchartsTable.getWidth('background')}">
                    <div ng-attr-title="{{editor.flowchartsTable.getDesc('background')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.flowchartsTable.getLabel('background')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.flowchartsTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- OPTIONS -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.flowchartsTable.getWidth('options')}">
                    <div ng-attr-title="{{editor.flowchartsTable.getDesc('options')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.flowchartsTable.getLabel('options')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.flowchartsTable.onMouseDown($event)">
                    </div>
                </div>
            </div>
            <!-- TBODY -->
            <div class="gf-table-body">
                <div role="row" class="gf-table-rows" ng-repeat="flowchart in editor.getFlowcharts()">
                    <!-- CELLS -->
                    <div class="gf-table-row_line">
                        <!-- EXPAND -->
                        <div role="cell" class="gf-table-cells" id="expand"
                            ng-click="flowchart.reduce=!flowchart.reduce"
                            ng-style="{'width' : editor.flowchartsTable.getWidth('expand')}">
                            <div class="gf-table-content gf-unselectable" style="text-align: center; cursor: pointer;">
                                <span>
                                    <i class="fa fa-chevron-right"
                                        ng-attr-title="{{flowchart.redude ? 'Expand/Detail' : 'Collapse/Reduce'}}"
                                        ng-class="{'fa-chevron-right': flowchart.reduce, 'fa-chevron-down': flowchart.reduce === false}">
                                    </i>
                                </span>
                            </div>
                        </div>
                        <!-- NAME -->
                        <div role="cell" class="gf-table-cells" id="name" ng-mouseleave="flowchart.displayEdit = false;"
                            ng-mouseover="flowchart.displayEdit = true;"
                            ng-style="{'width' : editor.flowchartsTable.getWidth('name')}">
                            <div class="gf-table-content">
                                {{flowchart.data.name}}
                            </div>
                            <!-- <div ng-if="flowchart.displayEdit === true"
                                style="padding:6px;float:right;" ng-click="flowchart.edit = true;flowchart.displayEdit  = false;">
                                <span bs-tooltip="'Edit/Change name'">
                                    <i class="fa fa-edit"></i>
                                </span>
                            </div>
                            <div ng-show="flowchart.edit">
                                <input type="text" id="{{state.cellId}}" class="gf-form-input"
                                    ng-model="flowchart.data.name"
                                    style="width: 100%;"
                                    ng-keydown="$event.keyCode === 13" />
                            </div> -->
                        </div>
                        <!-- TYPE -->
                        <div role="cell" class="gf-table-cells" id="type"
                            ng-style="{'width' : editor.flowchartsTable.getWidth('type')}">
                            <div class="gf-table-content" style="text-align: center;">
                                <!-- {{flowchart.data.type}} -->
                                <div 
                                    ng-attr-title="{{flowchart.data.type === 'csv' ? 'CSV format' : 'Draw.io XML format'}}"
                                    ng-class="{ 'gf-icon-csv' : flowchart.data.type === 'csv' , 'gf-icon-xml' : flowchart.data.type === 'xml' }">
                                </div>
                                <!-- <div style="display:inline-block" ng-if="flowchart.data.type === 'csv'"
                                    title="'CSV format'">
                                    <div class="gf-icon-csv"></div>
                                </div> -->
                                <!-- <div style="display:inline-block" ng-if="flowchart.data.type === 'xml'"
                                    title="'Draw.io XML format'">
                                    <div class="gf-icon-xml"></div>
                                </div> -->
                            </div>
                        </div>
                        <!-- SOURCE -->
                        <div role="cell" class="gf-table-cells" id="source"
                            ng-style="{'width' : editor.flowchartsTable.getWidth('source')}">
                            <div class="gf-table-content" style="text-align: center;">
                                <!-- {{flowchart.data.download}} -->
                                <div ng-click="editor.edit($index)"
                                    ng-attr-title="{{flowchart.data.download ? 'URL : ' + flowchart.data.url : 'Edit diagram'}}"
                                    ng-class="{ 'gf-icon-file-download' : flowchart.data.download, 'gf-icon-file-text gf-icon-action': !flowchart.data.download }">
                                </div>
                            </div>
                        </div>
                        <!-- BACKGROUND -->
                        <div role="cell" class="gf-table-cells" id="background"
                            ng-style="{'width' : editor.flowchartsTable.getWidth('background')}">
                            <div class="gf-table-content" style="text-align: center;">
                                <!-- {{flowchart.data.bgColor}} -->
                                <span style="color : {{flowchart.data.bgColor}};" bs-tooltip="flowchart.data.bgColor"
                                    ng-if="flowchart.data.bgColor !== null && flowchart.data.bgColor.length > 0">
                                    <i class="fa fa-w fa-square"></i>
                                </span>
                            </div>
                        </div>
                        <!-- OPTIONS -->
                        <div role="cell" class="gf-table-cells" id="options"
                            ng-style="{'width' : editor.flowchartsTable.getWidth('options')}">
                            <div 
                                class="gf-table-content gf-unselectable"
                                style="text-align: center;justify-content: center;">
                                <div
                                    ng-click="flowchart.data.scale = !flowchart.data.scale;editor.onOptionChange()"
                                    title="Enable/Disable scale/fit"
                                    class="gf-icon-action"
                                    ng-class="{'gf-icon-scale-on': flowchart.data.scale, 'gf-icon-scale-off': !flowchart.data.scale}">
                                </div>

                                <div
                                    ng-click="flowchart.data.center= !flowchart.data.center;editor.onOptionChange()"
                                    title="Enable/Disable center"
                                    class="gf-icon-action"
                                    ng-class="{'gf-icon-center-on': flowchart.data.center, 'gf-icon-center-off': !flowchart.data.center}">
                                </div>

                                <div
                                    ng-click="flowchart.data.tooltip = !flowchart.data.tooltip;editor.onOptionChange()"
                                    title="Enable/Disable tooltips"
                                    class="gf-icon-action"
                                    ng-class="{'gf-icon-comment-on': flowchart.data.tooltip, 'gf-icon-comment-off': !flowchart.data.tooltip}">
                                </div>

                                <div 
                                    ng-show="flowchart.data.grid"
                                    title="Grid enabled"
                                    class="gf-icon-grid">
                                </div>

                                <div
                                    ng-click="flowchart.data.lock = !flowchart.data.lock;editor.onOptionChange()"
                                    title="Enable/Disable lock"
                                    class="gf-icon-action"
                                    ng-class="{'gf-icon-lock-on': flowchart.data.lock, 'gf-icon-lock-off': !flowchart.data.lock}">
                                </div>

                                <div 
                                    ng-click="flowchart.data.enableAnim = !flowchart.data.enableAnim;editor.onOptionChange()"
                                    title="Enable/Disable animation"
                                    class="gf-icon-action"
                                    ng-class="{'gf-icon-anim-on': flowchart.data.enableAnim, 'gf-icon-anim-off': !flowchart.data.enableAnim}">
                                </div>

                                <div 
                                    ng-attr-title="{{flowchart.data.scale ? '' :'Zoom at ' + flowchart.data.zoom}}"
                                    ng-class="{'gf-icon-empty': flowchart.data.scale, 'gf-icon-zoom': !flowchart.data.scale}">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div ng-show="flowchart.reduce==false" class="gf-table-row_body">
                        <!-- GRAPH TOOLTIP -->
                        <ng-include src="$GF.plugin.getPartialPath() + 'flowcharts/flowchartBody.html'"> </ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>