<div role=" table" class="gf-table-main" id="ValuesTable" style="overflow: visible">
    <div class="gf-custom-scrollbar"
        style="position: relative; overflow: visible; width: 100%; height: auto; min-height: 0px; max-height: 100%;box-sizing: inherit;">
        <div class="gf-view"
            style="position: relative; overflow: visible; margin-right: -8px; margin-bottom: -8px; max-height: calc(100% + 8px);">
            <!-- THEAD -->
            <div class="gf-table-thead gf-unselectable" role="row" ng-mouseup="editor.valuesTable.onMouseUp($event)"
                ng-mousemove="editor.valuesTable.onMouseMove($event)"
                ng-mouseleave="editor.valuesTable.onMouseUp($event)">
                <!-- HEADERS -->
                <!-- EXPAND -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.valuesTable.getWidth('expand')}">
                    <div ng-attr-title="{{editor.valuesTable.getDesc('expand')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.valuesTable.getLabel('expand')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.valuesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- VALUE -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.valuesTable.getWidth('value')}">
                    <div ng-attr-title="{{editor.valuesTable.getDesc('value')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.valuesTable.getLabel('value')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover(editor.valuesTable.getDesc('value'), 'RULE')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.valuesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- TEXT -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.valuesTable.getWidth('text')}">
                    <div ng-attr-title="{{editor.valuesTable.getDesc('text')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.valuesTable.getLabel('text')}}</div>
                    </div>
                    <div style="float: right;padding: 6px;width: 6px">
                        <info-popover mode="right-normal">
                            <span ng-bind-html="$GF.popover(editor.valuesTable.getDesc('text'), 'RULE')">
                            </span>
                        </info-popover>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.valuesTable.onMouseDown($event)">
                    </div>
                </div>
                <!-- ACTION -->
                <div class="gf-table-columnheader" colspan="1" role="columnheader"
                    ng-style="{'width' : editor.valuesTable.getWidth('actions')}">
                    <div ng-attr-title="{{editor.valuesTable.getDesc('actions')}}" class="gf-table-title"
                        style="cursor: pointer;">
                        <div>{{editor.valuesTable.getLabel('actions')}}</div>
                    </div>
                    <div draggable="false" role="separator" class="gf-table-resizeHandle" style="cursor: ew-resize;"
                        ng-mousedown="editor.valuesTable.onMouseDown($event)">
                    </div>
                </div>
            </div>
            <!-- TBODY -->
            <div class="gf-table-body">
                <div role="row" class="gf-table-rows-2 gf-table-rows-resizable" ng-repeat="elt in rule.getValueMaps()">
                    <!-- CELLS -->
                    <div class="gf-table-row_line" ng-init="elt.displayEdit = [];elt.inEdit = [];">
                        <!-- EXPAND -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable"
                            ng-click="elt.reduce=!elt.reduce"
                            ng-init="CN1 = 'expand';elt.displayEdit[CN1] = false;elt.inEdit[CN1] = false;"
                            ng-style="{'width' : editor.valuesTable.getWidth(CN1)}">
                            <div class="gf-table-content gf-unselectable" style="text-align: center; cursor: pointer;">
                                <span>
                                    <i class="fa fa-chevron-right" title="Expand/Collapse for detail"
                                        ng-class="{'gf-chevron-init': elt.reduce, 'gf-chevron-rotate': elt.reduce === false}">
                                    </i>
                                </span>
                            </div>
                        </div>
                        <!-- VALUE -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable"
                            ng-init="CN2 = 'value';elt.displayEdit[CN2] = false;elt.inEdit[CN2] = false;"
                            ng-mouseleave="elt.displayEdit[CN2] = false;" ng-mouseenter="elt.displayEdit[CN2] = true;"
                            ng-style="{'width' : editor.valuesTable.getWidth(CN2)}" ng-attr-title="{{elt.value}}"
                            ng-dblclick="elt.inEdit[CN2] = true;$GF.setFocus( elt.uid + '-' + CN2 )">
                            <div class="gf-table-content" style="text-align: left" ng-show="elt.inEdit[CN2] !== true">
                                {{elt.value}}
                            </div>
                            <div ng-show="elt.displayEdit[CN2] === true && elt.inEdit[CN2] !== true"
                                ng-click="elt.inEdit[CN2] = true;$GF.setFocus( elt.uid + '-' + CN2 )" title="Edit"
                                class="gf-icon-action gf-icon-edit gf-icon-oncontent gf-icon-withcontent">
                            </div>
                            <input ng-show="elt.inEdit[CN2] === true" style="margin-right: 2px;width : 100%"
                                ng-attr-id="{{elt.uid + '-' + CN2 }}" title="Number or text to replace"
                                placeholder="Number/text"
                                class="gf-form-input"
                                ng-model="elt.value"
                                ng-blur="elt.inEdit[CN2] = false;" ng-model-onblur />
                        </div>
                        <!-- TEXT -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable"
                            ng-init="CN3 = 'text';elt.displayEdit[CN3] = false;elt.inEdit[CN3] = false;"
                            ng-mouseleave="elt.displayEdit[CN3] = false;" ng-mouseenter="elt.displayEdit[CN3] = true;"
                            ng-style="{'width' : editor.valuesTable.getWidth(CN3)}" ng-attr-title="{{elt.text}}"
                                ng-dblclick="elt.inEdit[CN3] = true;$GF.setFocus( elt.uid + '-' + CN3 )">
                            <div class="gf-table-content" style="text-align: left" ng-show="elt.inEdit[CN3] !== true">
                                {{elt.text}}
                            </div>
                            <div ng-show="elt.displayEdit[CN3] === true && elt.inEdit[CN3] !== true"
                                ng-click="elt.inEdit[CN3] = true;$GF.setFocus( elt.uid + '-' + CN3 )" title="Edit"
                                class="gf-icon-action gf-icon-edit gf-icon-oncontent gf-icon-withcontent">
                            </div>
                            <input type="text" class="gf-form-input" ng-model="elt.text" placeholder="Text"
                                style="margin-right: 2px;width : 100%" ng-attr-id="{{elt.uid + '-' + CN3 }}"
                                ng-show="elt.inEdit[CN3] === true" ng-attr-id="{{elt.uid + '-' + CN3}}"
                                bs-typeahead="editor.getVariables" ng-blur="elt.inEdit[CN3] = false;" ng-model-onblur
                                title="Specify string or variables to replace values" data-min-length="0"
                                data-items="100" data-placement="left" />
                        </div>
                        <!-- ACTION -->
                        <div role="cell" class="gf-table-cells gf-table-cells-resizable"
                            ng-style="{'width' : editor.valuesTable.getWidth('actions')}">
                            <div class="gf-table-content gf-unselectable"
                                style="text-align: left;justify-content: center;">
                                <div ng-click="elt.hidden=!elt.hidden"
                                    title="Hide/Disable" class="gf-icon-action"
                                    ng-class="{'gf-icon-show': !elt.hidden, 'gf-icon-hide': elt.hidden}">
                                </div>
                                <div ng-click="rule.removeValueMap($index)" title="Delete"
                                    class="gf-icon-action gf-icon-remove">
                                </div>
                                <div ng-click="rule.cloneValueMap($index)" title="Duplicate"
                                    class="gf-icon-action gf-icon-clone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gf-table-row_body" ng-show="elt.reduce === false">
                        <ng-include src="GFPlugin.getPartialPath() + 'rules/valuemaps/valueBody.html'">
                        </ng-include>
                    </div>
                </div>
            </div>
            <!-- TFOOTER -->
            <div class="gf-table-tfooter gf-unselectable">
                <div class="gf-table-columnfooter" colspan="1">
                    <div class="gf-form-inline">
                        <div class="gf-form" style="margin-right: 5px;">
                            <button class="btn btn-primary btn-small" ng-click="rule.addValueMap();"
                                title="Add a value to change displayed text">
                                <svg width="16" height="16" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="currentColor"
                                        d="M 200 450C 200 435 210 425 225 425C 225 425 425 425 425 425C 425 425 425 225 425 225C 425 210 435 200 450 200C 450 200 550 200 550 200C 565 200 575 210 575 225C 575 225 575 425 575 425C 575 425 775 425 775 425C 790 425 800 435 800 450C 800 450 800 550 800 550C 800 565 790 575 775 575C 775 575 575 575 575 575C 575 575 575 775 575 775C 575 790 565 800 550 800C 550 800 450 800 450 800C 435 800 425 790 425 775C 425 775 425 575 425 575C 425 575 225 575 225 575C 210 575 200 565 200 550C 200 550 200 450 200 450" />
                                </svg>
                                &nbsp;Add a value mapping
                            </button>
                        </div>
                        <div class="gf-form" style="margin-right: 5px;">
                            <button class="btn btn-secondary btn-small" ng-click="editor.onRulesChange();"
                                title="Refresh/Apply">
                                <svg width="16" height="16" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="currentColor"
                                        d="M 535 114C 550 128 555 150 547 169C 539 188 521 200 500 200C 379 200 269 273 223 385C 186 474 194 572 242 652C 242 652 253 641 253 641C 262 632 275 626 289 627C 303 627 316 633 325 643C 332 650 336 660 337 670C 337 670 355 793 355 793C 357 809 352 825 341 836C 330 847 314 852 298 850C 298 850 175 832 175 832C 156 830 140 817 134 799C 128 781 133 761 146 747C 146 747 169 725 169 725C 94 615 78 473 130 347C 192 198 338 100 500 100C 513 100 526 105 535 114C 535 114 535 114 535 114M 852 181C 862 190 868 203 868 216C 868 230 863 243 854 253C 854 253 831 275 831 275C 906 385 922 527 870 653C 808 802 662 900 500 900C 482 900 465 891 456 875C 447 860 447 840 456 825C 465 809 482 800 500 800C 621 800 731 727 777 615C 814 526 806 428 758 348C 758 348 747 359 747 359C 733 373 712 377 693 369C 674 362 662 343 662 323C 662 323 662 217 662 217C 662 190 685 167 712 167C 712 167 818 167 818 167C 831 167 843 172 852 181C 852 181 852 181 852 181" />
                                    </svg>
                                &nbsp;Refresh
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
