<!--
  VALUE MAPPING WHEN type = "string" and mappingType = 1
-->

<div class="gf-form-group" ng-if="rule.getData().mappingType==1">
  <table>
    <thead>
      <tr>
        <th>
          <label class="gf-form-label width-7" style="margin-right: 2px;">Buttons
            <info-popover mode="right-normal">
              <span ng-bind-html="$GF.popover('+ : Add line, X : Remove line', 'MAPPING#Map')"> </span>
            </info-popover>
          </label>
        </th>
        <th>
          <label class="gf-form-label width-10" style="margin-right: 2px;">Value
            <info-popover mode="right-normal">
              <span ng-bind-html="$GF.popover('Value string to replace', 'MAPPING#Map')"> </span>
            </info-popover>
          </label>
        </th>
        <th>
          <label class="gf-form-label width-10" style="margin-right: 2px;">Text
            <info-popover mode="right-normal">
              <span ng-bind-html="$GF.popover('Replace string with this text', 'MAPPING#Map')"> </span>
            </info-popover>
          </label>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="map in rule.getValueMaps()">
        <td>
          <div class="gf-form">
            <label class="gf-form-label" style="margin-right: 4px;">
              <i class="fa fa-w fa-remove pointer" bs-tooltip="'Delete this mapping object'"
                ng-click="rule.removeValueMap($index);editor.onRulesChange()"></i>
            </label>
          </div>
        </td>
        <td>
          <input type="text" class="gf-form-input max-width-10" ng-model="map.getData().value" placeholder="Value"
            ng-blur="editor.onRulesChange()" ng-model-onblur />
        </td>
        <td>
          <div class="gf-form">
            <input type="text" class="gf-form-input max-width-10" ng-model="map.getData().text" placeholder="Text"
              bs-typeahead="editor.getVariables" bs-tooltip="'Specify string or variables to replace values'"
              data-min-length="0" data-items="100" data-placement="right" ng-blur="editor.onRulesChange()"
              ng-model-onblur />
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <div class="gf-form">
            <label class="gf-form-label">
              <a class="pointer" ng-click="rule.addValueMap('','');editor.onRulesChange()"><i
                  class="fa fa-plus"></i></a>
            </label>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>